<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="#">首页</a></li>
		<li><a href="#">任务管理</a></li>
	</ul>
</div>

<div class="rightinfo">
	<div class="tools">
		<ul>
			<li ng-repeat="user in users"><span>{{user.user_name}}</span></li>
		</ul>
		<form class="toolbar">
			<input name="" type="text" class="dfinput" id="tContent" /> <input
				class="btn" type="submit" value="查询" ng-click="getTaskByContext()">
		</form>

		<ul class="toolbar1">
			<li class="click"><a href="#/taskAdd2"><span><img
						src="../images/t01.png" /></span>新建</a></li>
		</ul>
	</div>
	<table class="tablelist">
		<thead>
			<tr>
				<th>序号</th>
				<th>内容</th>
				<th>类型</th>
				<th>状态</th>
				<th>创建者</th>
				<th>报警次数</th>
				<th>合同</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="t in tasks" id={{t.task_id}} >
				<td >{{$index + 1}}</td>
				<td>{{t.task_content}}</td>
				<td><div ng-switch={{t.task_type}}>
						<div ng-switch-when="0">普通任务</div>
						<div ng-switch-when="1">文书任务</div>
						<div ng-switch-when="2">其他</div>
					</div></td>
				<td><div ng-switch={{t.task_state}}>
						<div ng-switch-when="0">待接收</div>
						<div ng-switch-when="1">执行中</div>
						<div ng-switch-when="2">已完成</div>
					</div></td>
				<td>{{t.creator.user_name}}</td>
				<td>{{t.task_alarmnum}}</td>
				<td>{{t.contract.cont_name}}</td>
				<td><a  href="#/taskCheck2"  ng-click="getTaskId(t.task_id)" class="tablelink">查看</a><a ng-click="show(t.task_id)"
					class="tablelink"> 删除</a></td>
			</tr>
		</tbody>
	</table>

	<div class="tcdPageCode">页码容器</div>

</div>
<div class="tip">
	<div class="tiptop">
		<span>提示信息</span>
	</div>

	<div class="tipinfo">
		<div class="tipright">
			<p>是否确认对信息的删除 ？</p>
			<cite>如果是请点击确定按钮 ，否则请点取消。</cite>
		</div>
	</div>

	<div class="tipbtn">
		<input name="" type="button" class="sure" value="确定"  />&nbsp;
		<input name="" type="button" class="cancel" value="取消"
			 />
	</div>


	<script type="text/javascript">
		$('.tablelist tbody tr:odd').addClass('odd');
	</script>