<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li>首页</li>
		<li>报警列表</li>
	</ul>
</div>

<div class="rightinfo">

	<div class="tools">

		<form class="toolbar">
			<input name="" type="text" class="dfinput" id="cName" /> <input
				class="btn" type="submit" value="查询" ng-click="selectConByName()">
		</form>

	</div>

	<table class="tablelist">
		<thead>
			<tr>
				<th>报警编号</th>
				<th>报警内容</th>
				<th>报警时间</th>
				<th>合同</th>
				<th>报警对象</th>
				<th>报警状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="alarm in alarms" >
				<td>{{$index + 1 }}</td>
				<td>{{alarm.alar_content}}</td>
				<td>{{alarm.alar_time}}</td>
				<td>{{alarm.contract.cont_name}}</td>
				<td>{{alarm.user.user_name}}</td>
				<td>{{alarm.alar_isremove | alarmState}}</td>
				<td><a href="#alarmDetail" class="tablelink" ng-click="getAlarmId(alarm.alar_id)">详情</a></td>
			</tr>
		</tbody>
	</table>

	<div class="tcdPageCode">
	页码容器
	</div>

</div>

<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>



