<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="#">首页</a></li>
		<li><a href="#">新任务列表</a></li>
	</ul>
</div>

<div class="rightinfo">
	<div class="tools">
		<form class="toolbar">
			<input name="" type="text" class="dfinput" id="tContent" /> <input
				class="btn" type="submit" value="查询" ng-click="getTaskByContext()">
		</form>
	</div>
	<table class="tablelist">
		<thead>
			<tr>
				<th>序号</th>
				<th>合同名称</th>
				<th>状态</th>
				<th>创建者</th>
				<th>报警次数</th>
				<!-- <th>任务内容</th> -->
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="t in tasks">
				<td >{{$index + 1}}</td>
				<td>{{t.contract.cont_name}}</td>				
				<td><div ng-switch={{t.task_state}}>
						<div ng-switch-when="0">待接收</div>
						<div ng-switch-when="1">执行中</div>
						<div ng-switch-when="2">已完成</div>
					</div></td>
				<td>{{t.creator.user_name}}</td>
				<td>{{t.task_alarmnum}}</td>
				<!-- <td><a class="tablelink" href="/CIMS/contract/toAssistant2ContractPage.do#/contractDetail" ng-click="getContId(t.contract.cont_id)">{{t.contract.cont_name}}</a></td> -->
				<td><a  href="#"  ng-click="showTask()" class="tablelink">查看</a></td>
			</tr>
		</tbody>
	</table>

	<div class="tcdPageCode">页码容器</div>
</div>

<!-- 新建任务模态框 -->
<div class="overlayer"></div>
<div class="tip">
	<div class="tiptop">
		<span>任务内容</span><a></a><!-- 这个a标签是模态框上的叉叉 -->
	</div>

	<div class="tipinfo">
		<div class="taskType-div">
			
		</div>
	</div>
	<!-- 任务具体内容 -->
	<div class="formbody">
	<form id="addTask1-form" ng-submit="addTask1()" class="hidden">
		<ul class="forminfo">
			<li><label>执行人</label> <select class="dfselect" 
				ng-model="task1.receiver_id">
					<option ng-repeat="user in users" value={{user.user_id}}>{{user.user_name}}</option>					
			</select></li>
			<li><label>子任务</label>
				<div class="div-checkbox">
					<input type="checkbox" ng-true-value="true" ng-false-value="false"
						ng-model="task1.print" />打印印刷
				</div>
				<div class="div-checkbox">
					<input type="checkbox" ng-true-value="true" ng-false-value="false"
						ng-model="task1.sign" />签字
				</div>
				<div class="div-checkbox">
					<input type="checkbox" ng-true-value="true" ng-false-value="false"
						ng-model="task1.seal" />盖章
				</div>
				<div class="div-checkbox">
					<input type="checkbox" ng-true-value="true" ng-false-value="false"
						ng-model="task1.post" />邮寄
				</div>
				<div class="div-checkbox">
					<input type="checkbox" ng-true-value="true" ng-false-value="false"
						ng-model="task1.file" />归档
				</div></li>
			<li><label>开始时间</label><input type="text"
				ng-model="task1.task_stime" class="dfinput dateFormat"
				placeholder="格式：2016-09-07" /><span class="error-span">格式错误</span></li>
			<li><label>结束时间</label><input type="text" name="task1_etime"
				ng-model="task1.task_etime" class="dfinput dateFormat"
				placeholder="格式：2016-09-07" /><span class="error-span">格式错误</span></li>
			<li><label>备注</label> <textarea ng-model="task1.task_content"
					class="textarea"></textarea></li>
		</ul>
		<!-- 按钮 -->
	<div class="tipbtn">
		<input name="" type="button" class="sure" value="确定" ng-click="" />&nbsp; <input
			name="" type="button" class="cancel" value="取消" />
	</div>
	</form>
	
</div>
</div>
<!-- 新建任务模态框完 -->