<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="#">首页</a></li>
		<li><a href="#">任务管理</a></li>
		<li><a href="#">新增任务</a></li>
	</ul>
</div>

<div class="formbody">
	<form ng-submit="addTask()">
	<ul class="forminfo">
		<li><label>任务类型</label> <select name="tType" class="dfselect" ng-model="task.task_type">
				<option value="0">普通任务</option>
				<option value="1">文书任务</option>
				
		</select></li>
		<li><label>接收人</label><select name="tReceiver" class="dfselect" ng-model="task.receiver_id">
				<option ng-repeat="user in users" value={{user.user_id}}>
				<span>{{user.user_name}}</span>
				</option>
		</select></li>
		<li><label>内容</label><textarea name="" cols="" rows="" class="textinput" ng-model="task.task_content"></textarea></li>
	<li>
				<label>开始时间</label><input type="text"
				ng-model="task.task_stime" class="dfinput dateFormat"
				placeholder="格式：2016-09-07" /><span class="error-span">日期格式：2016-09-07</span>
				</li>
			<li><label>结束时间</label><input type="text" name="task1_etime"
				ng-model="task.task_etime" class="dfinput dateFormat"
				placeholder="格式：2016-09-07" /><span class="error-span">日期格式：2016-09-07</span></li>
		
		<li><label>&nbsp;</label><input type="submit" class="btn" 
			value="创建任务" id="submit" /></li>
	</ul>
	</form>
</div>
<br>
