<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li>部门管理</li>
		<li>部门信息</li>
	</ul>
</div>




<div class="rightinfo">

	<div class="tools">

		<form class="toolbar">
			<input name="" type="text" class="dfinput" id="cName" /> <input
				class="btn" type="submit" value="查询" ng-click="selectDeptByName()">
		</form>

		<ul class="toolbar1">
			<li class="click"><a href=""><span><img
						src="../images/t01.png" /></span>新建</a></li>
		</ul>

	</div>

	<table class="tablelist">
		<thead>
			<tr>
				<th>编号</th>
				<th>部门名称</th>
				<th>所属部门</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="depart in departs"  id={{depart.dept_id}}>
				<td>{{depart.dept_id}}</td>
				<td>{{depart.dept_name}}</td>
				<td>
					<div ng-switch on={{depart.department.dept_name}}>
						<div>{{depart.department.dept_name}}</div>
						<div ng-switch-default>
							无
						</div>
					</div>
				</td>
				<td>
				<a class="tablelink"> 修改</a>
				<a ng-click="deleteDepart(depart.dept_id)" class="tablelink"> 删除</a>
				<a class="tablelink">批量导入员工</a>
				<a class="tablelink">查看现有员工</a>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="tip">
		<div class="tiptop">
			<span>提示信息</span>
		</div>

		<div class="tipinfo">
			<div class="tipright">
				<p>是否确认对信息的删除 ？</p>
				<cite>如果是请点击确定按钮 ，否则请点取消。</cite>
			</div>
		</div>

		<div class="tipbtn">
			<input name="" type="button" class="sure" value="确定" />&nbsp; <input
				name="" type="button" class="cancel" value="取消" />
		</div>

	</div>

	<div class="tcdPageCode">页码容器</div>

</div>

<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>


