<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="#">首页</a></li>
		<li><a href="#">新消息</a></li>
	</ul>
</div>

<div class="rightinfo">

	<div class="tools">

		<form class="toolbar">
			<input name="" type="text" class="dfinput" id="cName" />
			<input class="btn" type="submit" value="查询" ng-click="getConByName()">
		</form>

		<ul class="toolbar1">
			<li class="click"><a href="contract_add.html"><span><img
						src="../images/t01.png" /></span>新建</a></li>
		</ul>

	</div>

	<table class="tablelist">
		<thead>
			<tr>				
				<th>用户ID</th>
				<th>姓名</th>
				<th>年龄</th>
				<th>密码</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>			
			<tr ng-repeat="con in contracts">
				<td>{{con.id}}</td>
				<td>{{con.name}}</td>
				<td>{{con.age}}</td>
				<td>{{con.pwd}}</td>
				<td><a href="#" class="tablelink">查看</a><a href="#"
					class="tablelink"> 修改</a><a href="#" class="tablelink"> 删除</a></td>
			</tr>			
		</tbody>
	</table>
	
	<div class="pagin">
		<div class="message">
			共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页
		</div>
		<ul class="paginList">
			<li class="paginItem"><a href="javascript:;"><span
					class="pagepre"></span></a></li>
			<li class="paginItem"><a href="javascript:;">1</a></li>
			<li class="paginItem current"><a href="javascript:;">2</a></li>
			<li class="paginItem"><a href="javascript:;">3</a></li>
			<li class="paginItem"><a href="javascript:;">4</a></li>
			<li class="paginItem"><a href="javascript:;">5</a></li>
			<li class="paginItem more"><a href="javascript:;">...</a></li>
			<li class="paginItem"><a href="javascript:;">10</a></li>
			<li class="paginItem"><a href="javascript:;"><span
					class="pagenxt"></span></a></li>
		</ul>
	</div>

</div>

<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>