<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="#">首页</a></li>
		<li><a href="#">任务管理</a></li>
	</ul>
</div>

<div class="rightinfo">

	<div class="tools">

		<form class="toolbar">
			<input name="" type="text" class="dfinput" id="cName" />
			<input class="btn" type="submit" value="查询" ng-click="getConByName()">
		</form>

		<ul class="toolbar1">
			<li class="click"><a href="#/taskAdd"><span><img
						src="../images/t01.png" /></span>新建</a></li>
		</ul>

	</div>

	<table class="tablelist">
		<thead>
			<tr>				
				<th>内容</th>
				<th>类型</th>
				<th>状态</th>
				<th>创建者</th>
				<th>报警次数</th>
				<th>合同</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>			
			<tr ng-repeat="t in tasks">
				<td>{{t.task_content}}</td>
				<td>{{t.task_type}}</td>
				<td>{{t.task_state}}</td>
				<td>{{t.creator.user_name}}</td>
				<td>{{t.task_alarmnum}}</td>
				<td>{{t.contract.name}}</td>
				<td><a href="#" class="tablelink">查看</a><a href="#"
					class="tablelink"> 修改</a><a href="#" class="tablelink"> 删除</a></td>
			</tr>			
		</tbody>
	</table>
	
	<div class="tcdPageCode">
	页码容器
	</div>

</div>

<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>