<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>用户管理</li>
		<li>报警设置</li>
	</ul>
</div>



<div class="rightinfo">

	<div class="tools">

		<!-- <form class="toolbar">
			<input name="" type="text" class="dfinput" id="dName" /> <input
				class="btn" type="submit" value="查询" ng-click="selectAlarmByName()">
		</form> -->

		<ul class="toolbar1" has-permission='uAlarmAdd'>
			<li class="click" ng-click="addNewAlarmLevel()"><a href=""><span><img
						src="../images/t01.png" /></span>新建</a></li>
		</ul>

	</div>


	<table class="tablelist">
		<thead>
			<tr>
				<th>编号</th>
				<th>报警对象</th>
				<th>重要等级</th>
				<th>报警天数</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="level in alarmLevels">
				<td>{{$index + 1 }}</td>
				<td>{{level.role.role_name}}</td>
				<td>{{level.alle_rank| alleRank}}</td>
				<td>{{level.alle_days}}</td>
				<td><a class="tablelink underline" ng-click="edit(this)" has-permission='uAlarmEdit'>修改</a><a
					ng-click="deleteAlarmLevel(this)" href="#alarmSet"
					class="tablelink underline" has-permission='uAlarmDel'> 删除</a><label class="hidden">{{level.alle_id}}</label></td>
			</tr>
		</tbody>
	</table>


</div>

<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>

<!-- 新建和修改模态框 -->
<div class="overlayer"></div>
<div class="tip" style="height: 320px">
	<div class="tiptop">
		<span>报警设置</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<!-- 任务具体内容 -->
	<div class="formbody">
		<form id="addAlarm-form" ng-submit="addAlarmLevel()" class="hidden">
			<ul class="forminfo">
				<li><label>重要等级</label> <select class="dfselect"
					ng-model="alarmLevel.alle_rank">
						<option value=1>一般</option>
						<option value=0>重要</option>
				</select></li>
				<li><label>角色</label> <select class="dfselect"
					ng-model="alarmLevel.role_id" ng-options="role.role_id as role.role_name for role in roles">
						<option value="">请选择</option>
				</select></li>
				<li><label>提醒天数</label> <input type="text" required class="dfinput"
					ng-model="alarmLevel.alle_days" /></li>
			</ul>
			<!-- 按钮 -->
			<div class="tipbtn">
				<input name="" type="submit" class="sure sure1" value="确定"
					 />&nbsp; <input name="" type="button" class="cancel"
					value="取消" />
			</div>
		</form>

		<form id="editAlarm-form" ng-submit="editAlarmLevel()" class="hidden">

			<ul class="forminfo">
				<li><label>重要等级</label> <select class="dfselect"
					ng-model="editLevel.alle_rank">
						<option value=1>一般</option>
						<option value=0>重要</option>
				</select></li>
				<li><label>角色</label> <select class="dfselect"
					ng-model="editLevel.role.role_id" ng-options="role.role_id as role.role_name for role in roles2">
						<option  value="">请选择</option>
				</select></li>
				<li><label>提醒天数</label> <input type="text" class="dfinput"
					ng-model="editLevel.alle_days" required/></li>
			</ul>
			<!-- 按钮 -->
			<div class="tipbtn">
				<input name="" type="submit" class="sure sure2" value="确定"
					/>&nbsp; <input name="" type="button" class="cancel"
					value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 新建和修改模态框完 -->


