<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>用户管理</li>
		<li>角色列表</li>
	</ul>
</div>

<div class="rightinfo">

	<div class="tools">

		<!-- <form class="toolbar">
			<input name="" type="text" class="dfinput" id="pName" /> <input
				class="btn" type="submit" value="查询" ng-click="selectPerByName()">
		</form> -->

		<ul class="toolbar1" has-permission='uRoleAdd'>
			<li class="click" ng-click="addNewRole()"><a href=""><span><img
						src="../images/t01.png" /></span>新建</a></li>
		</ul>

	</div>

	<table class="tablelist">
		<thead>
			<tr>
				<th>编号</th>
				<th>角色</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="role in roles">
				<td>{{$index + 1 }}</td>
				<td>{{role.role_name}}</td>
				<td><a href="#roleList" class="tablelink"
					ng-click="detailRoleBtn(this)">查看</a><a
					ng-click="editRoleBtn(this)" class="tablelink"
					has-permission='uRoleEdit'> 修改</a><a href="#roleList"
					class="tablelink" ng-click="deleteRole(role.role_id)"
					has-permission='uRoleDel'> 删除</a></td>
			</tr>
		</tbody>
	</table>
	<div class="tcdPageCode">页码容器</div>

</div>

<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>


<!-- 新建和修改模态框 -->

<div class="overlayer"></div>
<div class="tip" style="height: 570px;width:780px">
	<div class="tiptop">
		<span>用户设置</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<!-- 任务具体内容 -->
	<div class="formbody">
		<form id="addRole-form" ng-submit="addRole()" class="hidden">
			<ul class="forminfo">
				<li><label>角色名称<b>*</b></label><input type="text"
					class="dfinput" ng-model="addingRole.role_name" id="mustInput" /></li>
				<!-- ！！！下面这段代码别乱动 -->
				<!-- ！！！下面这段代码别乱动 -->
				<!-- ！！！下面这段代码别乱动 -->
				<li><table class="tablelist" style="width: 720px">
						<tr>
							<td style="width: 72px">合同
							<td>
							<td><input class="con_per" name="0"
								ng-checked="isSelected('con_per',0)"
								ng-click="updateSelection($event,'con_per',0)" type="checkbox" />新建&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="1" ng-checked="isSelected('con_per',1)"
								ng-click="updateSelection($event,'con_per',1)" type="checkbox" />修改（主任）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="2" ng-checked="isSelected('con_per',2)"
								ng-click="updateSelection($event,'con_per',2)" type="checkbox" />修改（文书）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="3" ng-checked="isSelected('con_per',3)"
								ng-click="updateSelection($event,'con_per',3)" type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="4" ng-checked="isSelected('con_per',4)"
								ng-click="updateSelection($event,'con_per',4)" type="checkbox" />修改状态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="11" ng-checked="isSelected('con_per',11)"
								ng-click="updateSelection($event,'con_per',11)" type="checkbox" />新建任务&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="task_per" name="0" ng-checked="isSelected('task_per',0)"
								ng-click="updateSelection($event,'task_per',0)" type="checkbox" />补录合同&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>工期阶段
							<td>
							<td><input class="con_per" name="5"
								ng-checked="isSelected('con_per',5)"
								ng-click="updateSelection($event,'con_per',5)" type="checkbox" />添加&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="6" ng-checked="isSelected('con_per',6)"
								ng-click="updateSelection($event,'con_per',6)" type="checkbox" />修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="7" ng-checked="isSelected('con_per',7)"
								ng-click="updateSelection($event,'con_per',7)" type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input 
								class="task_per" name="3" ng-checked="isSelected('task_per',3)" 
								ng-click="updateSelection($event,'task_per',3)" type="checkbox" />完工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>收款节点
							<td>
							<td><input class="con_per" name="8"
								ng-checked="isSelected('con_per',8)"
								ng-click="updateSelection($event,'con_per',8)" type="checkbox" />添加&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="9" ng-checked="isSelected('con_per',9)"
								ng-click="updateSelection($event,'con_per',9)" type="checkbox" />修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="10" ng-checked="isSelected('con_per',10)"
								ng-click="updateSelection($event,'con_per',10)" type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>票据
							<td>
							<td><input class="task_per" name="1"
								ng-checked="isSelected('task_per',1)"
								ng-click="updateSelection($event,'task_per',1)" type="checkbox" />审核发票&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="task_per" name="2" ng-checked="isSelected('task_per',2)"
								ng-click="updateSelection($event,'task_per',2)" type="checkbox" />完成发票&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="bill_per" name="0" ng-checked="isSelected('bill_per',0)"
								ng-click="updateSelection($event,'bill_per',0)" type="checkbox" />开发票&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="bill_per" name="1" ng-checked="isSelected('bill_per',1)"
								ng-click="updateSelection($event,'bill_per',1)" type="checkbox" />开收据&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>到款
							<td>
							<td><input class="bill_per" name="2"
								ng-checked="isSelected('bill_per',2)"
								ng-click="updateSelection($event,'bill_per',2)" type="checkbox" />到款&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="task_per" name="3" ng-checked="isSelected('bill_per',3)"
								ng-click="updateSelection($event,'bill_per',3)" type="checkbox" />审核到款&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>角色
							<td>
							<td><input class="system_per" name="0"
								ng-checked="isSelected('system_per',0)"
								ng-click="updateSelection($event,'system_per',0)"
								type="checkbox" />添加&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="1"
								ng-checked="isSelected('system_per',1)"
								ng-click="updateSelection($event,'system_per',1)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="2"
								ng-checked="isSelected('system_per',2)"
								ng-click="updateSelection($event,'system_per',2)"
								type="checkbox" />修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>用户
							<td>
							<td><input class="system_per" name="3"
								ng-checked="isSelected('system_per',3)"
								ng-click="updateSelection($event,'system_per',3)"
								type="checkbox" />添加&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="4"
								ng-checked="isSelected('system_per',4)"
								ng-click="updateSelection($event,'system_per',4)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="5"
								ng-checked="isSelected('system_per',5)"
								ng-click="updateSelection($event,'system_per',5)"
								type="checkbox" />修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>报警设置
							<td>
							<td><input class="system_per" name="6"
								ng-checked="isSelected('system_per',6)"
								ng-click="updateSelection($event,'system_per',6)"
								type="checkbox" />添加&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="7"
								ng-checked="isSelected('system_per',7)"
								ng-click="updateSelection($event,'system_per',7)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="8"
								ng-checked="isSelected('system_per',8)"
								ng-click="updateSelection($event,'system_per',8)"
								type="checkbox" />修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>首页显示
							<td>
							<td><input class="index_per" name="0"
								ng-checked="isSelected('index_per',0)"
								ng-click="updateSelection($event,'index_per',0)" type="checkbox" />文书任务&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="index_per" name="1"
								ng-checked="isSelected('index_per',1)"
								ng-click="updateSelection($event,'index_per',1)" type="checkbox" />补录合同&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="index_per" name="2"
								ng-checked="isSelected('index_per',2)"
								ng-click="updateSelection($event,'index_per',2)" type="checkbox" />审核发票&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="index_per" name="3"
								ng-checked="isSelected('index_per',3)"
								ng-click="updateSelection($event,'index_per',3)" type="checkbox" />完成发票&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="index_per" name="4"
								ng-checked="isSelected('index_per',4)"
								ng-click="updateSelection($event,'index_per',4)" type="checkbox" />核对到款&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="index_per" name="5"
								ng-checked="isSelected('index_per',5)"
								ng-click="updateSelection($event,'index_per',5)" type="checkbox" />收款超时&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="index_per" name="6"
								ng-checked="isSelected('index_per',6)"
								ng-click="updateSelection($event,'index_per',6)" type="checkbox" />工期超时&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>	
						<tr>
							<td>左侧栏
							<td>
							<td><input class="left_per" name="0"
								ng-checked="isSelected('left_per',0)"
								ng-click="updateSelection($event,'left_per',0)" type="checkbox" />合同管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="1"
								ng-checked="isSelected('left_per',1)"
								ng-click="updateSelection($event,'left_per',1)" type="checkbox" />票据管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="2"
								ng-checked="isSelected('left_per',2)"
								ng-click="updateSelection($event,'left_per',2)" type="checkbox" />用户管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="3"
								ng-checked="isSelected('left_per',3)"
								ng-click="updateSelection($event,'left_per',3)" type="checkbox" />发票任务&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="4"
								ng-checked="isSelected('left_per',4)"
								ng-click="updateSelection($event,'left_per',4)" type="checkbox" />到款任务&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="5"
								ng-checked="isSelected('left_per',5)"
								ng-click="updateSelection($event,'left_per',5)" type="checkbox" />收款超时&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="6"
								ng-checked="isSelected('left_per',6)"
								ng-click="updateSelection($event,'left_per',6)" type="checkbox" />工期超时&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="7"
								ng-checked="isSelected('left_per',7)"
								ng-click="updateSelection($event,'left_per',7)" type="checkbox" />报表统计&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>					
					</table></li>
			</ul>
			<!-- 按钮 -->
			<div class="tipbtn">
				<input name="" type="button" class="sure roleAdd" value="确定"
					ng-click="" />&nbsp; <input name="" type="button" class="cancel"
					value="取消" />
			</div>
		</form>

		<form id="editRole-form" class="hidden">

			<ul class="forminfo">
				<li><label>角色名称<b>*</b></label><input type="text"
					class="dfinput" ng-model="editRole.role_name" id="mustInput" /></li>
				<li>
					<!-- ！！！下面这段代码别乱动 --> <!-- ！！！下面这段代码别乱动 --> <!-- ！！！下面这段代码别乱动 -->
					<table class="tablelist" style="width: 720px">
						<tr>
							<td style="width: 72px">合同
							<td>
							<td><input class="con_per" name="0"
								ng-checked="isSelected('con_per',0)"
								ng-click="updateSelection($event,'con_per',0)" type="checkbox" />新建&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="1" ng-checked="isSelected('con_per',1)"
								ng-click="updateSelection($event,'con_per',1)" type="checkbox" />修改（主任）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="2" ng-checked="isSelected('con_per',2)"
								ng-click="updateSelection($event,'con_per',2)" type="checkbox" />修改（文书）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="3" ng-checked="isSelected('con_per',3)"
								ng-click="updateSelection($event,'con_per',3)" type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="4" ng-checked="isSelected('con_per',4)"
								ng-click="updateSelection($event,'con_per',4)" type="checkbox" />修改状态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="11" ng-checked="isSelected('con_per',11)"
								ng-click="updateSelection($event,'con_per',11)" type="checkbox" />新建任务&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="task_per" name="0" ng-checked="isSelected('task_per',0)"
								ng-click="updateSelection($event,'task_per',0)" type="checkbox" />补录合同&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>工期阶段
							<td>
							<td><input class="con_per" name="5"
								ng-checked="isSelected('con_per',5)"
								ng-click="updateSelection($event,'con_per',5)" type="checkbox" />添加&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="6" ng-checked="isSelected('con_per',6)"
								ng-click="updateSelection($event,'con_per',6)" type="checkbox" />修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="7" ng-checked="isSelected('con_per',7)"
								ng-click="updateSelection($event,'con_per',7)" type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input 
								class="task_per" name="3" ng-checked="isSelected('task_per',3)" 
								ng-click="updateSelection($event,'task_per',3)" type="checkbox" />完工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>收款节点
							<td>
							<td><input class="con_per" name="8"
								ng-checked="isSelected('con_per',8)"
								ng-click="updateSelection($event,'con_per',8)" type="checkbox" />添加&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="9" ng-checked="isSelected('con_per',9)"
								ng-click="updateSelection($event,'con_per',9)" type="checkbox" />修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="con_per" name="10" ng-checked="isSelected('con_per',10)"
								ng-click="updateSelection($event,'con_per',10)" type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>票据
							<td>
							<td><input class="task_per" name="1"
								ng-checked="isSelected('task_per',1)"
								ng-click="updateSelection($event,'task_per',1)" type="checkbox" />审核发票&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="task_per" name="2" ng-checked="isSelected('task_per',2)"
								ng-click="updateSelection($event,'task_per',2)" type="checkbox" />完成发票&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="bill_per" name="0" ng-checked="isSelected('bill_per',0)"
								ng-click="updateSelection($event,'bill_per',0)" type="checkbox" />开发票&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="bill_per" name="1" ng-checked="isSelected('bill_per',1)"
								ng-click="updateSelection($event,'bill_per',1)" type="checkbox" />开收据&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>到款
							<td>
							<td><input class="bill_per" name="2"
								ng-checked="isSelected('bill_per',2)"
								ng-click="updateSelection($event,'bill_per',2)" type="checkbox" />到款&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="task_per" name="3" ng-checked="isSelected('bill_per',3)"
								ng-click="updateSelection($event,'bill_per',3)" type="checkbox" />审核到款&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>角色
							<td>
							<td><input class="system_per" name="0"
								ng-checked="isSelected('system_per',0)"
								ng-click="updateSelection($event,'system_per',0)"
								type="checkbox" />添加&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="1"
								ng-checked="isSelected('system_per',1)"
								ng-click="updateSelection($event,'system_per',1)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="2"
								ng-checked="isSelected('system_per',2)"
								ng-click="updateSelection($event,'system_per',2)"
								type="checkbox" />修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>用户
							<td>
							<td><input class="system_per" name="3"
								ng-checked="isSelected('system_per',3)"
								ng-click="updateSelection($event,'system_per',3)"
								type="checkbox" />添加&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="4"
								ng-checked="isSelected('system_per',4)"
								ng-click="updateSelection($event,'system_per',4)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="5"
								ng-checked="isSelected('system_per',5)"
								ng-click="updateSelection($event,'system_per',5)"
								type="checkbox" />修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>报警设置
							<td>
							<td><input class="system_per" name="6"
								ng-checked="isSelected('system_per',6)"
								ng-click="updateSelection($event,'system_per',6)"
								type="checkbox" />添加&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="7"
								ng-checked="isSelected('system_per',7)"
								ng-click="updateSelection($event,'system_per',7)"
								type="checkbox" />删除&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="system_per" name="8"
								ng-checked="isSelected('system_per',8)"
								ng-click="updateSelection($event,'system_per',8)"
								type="checkbox" />修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>首页显示
							<td>
							<td><input class="index_per" name="0"
								ng-checked="isSelected('index_per',0)"
								ng-click="updateSelection($event,'index_per',0)" type="checkbox" />文书任务&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="index_per" name="1"
								ng-checked="isSelected('index_per',1)"
								ng-click="updateSelection($event,'index_per',1)" type="checkbox" />补录合同&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="index_per" name="2"
								ng-checked="isSelected('index_per',2)"
								ng-click="updateSelection($event,'index_per',2)" type="checkbox" />审核发票&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="index_per" name="3"
								ng-checked="isSelected('index_per',3)"
								ng-click="updateSelection($event,'index_per',3)" type="checkbox" />完成发票&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="index_per" name="4"
								ng-checked="isSelected('index_per',4)"
								ng-click="updateSelection($event,'index_per',4)" type="checkbox" />核对到款&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="index_per" name="5"
								ng-checked="isSelected('index_per',5)"
								ng-click="updateSelection($event,'index_per',5)" type="checkbox" />收款相关&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="index_per" name="6"
								ng-checked="isSelected('index_per',6)"
								ng-click="updateSelection($event,'index_per',6)" type="checkbox" />工期相关&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td>左侧栏
							<td>
							<td><input class="left_per" name="0"
								ng-checked="isSelected('left_per',0)"
								ng-click="updateSelection($event,'left_per',0)" type="checkbox" />合同管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="1"
								ng-checked="isSelected('left_per',1)"
								ng-click="updateSelection($event,'left_per',1)" type="checkbox" />票据管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="2"
								ng-checked="isSelected('left_per',2)"
								ng-click="updateSelection($event,'left_per',2)" type="checkbox" />用户管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="3"
								ng-checked="isSelected('left_per',3)"
								ng-click="updateSelection($event,'left_per',3)" type="checkbox" />发票任务&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="4"
								ng-checked="isSelected('left_per',4)"
								ng-click="updateSelection($event,'left_per',4)" type="checkbox" />到款任务&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="5"
								ng-checked="isSelected('left_per',5)"
								ng-click="updateSelection($event,'left_per',5)" type="checkbox" />收款相关&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="6"
								ng-checked="isSelected('left_per',6)"
								ng-click="updateSelection($event,'left_per',6)" type="checkbox" />工期相关&nbsp;&nbsp;&nbsp;&nbsp;<input
								class="left_per" name="7"
								ng-checked="isSelected('left_per',7)"
								ng-click="updateSelection($event,'left_per',7)" type="checkbox" />报表统计&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
					</table>
				</li>
			</ul>
			<!-- 按钮 -->
			<div class="tipbtn">
				<input name="" type="button" class="sure roleEdit" value="确定"
					ng-click="" />&nbsp; <input name="" type="button" class="cancel"
					value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 新建和修改模态框完 -->



