<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>用户管理</li>
		<li>用户列表</li>
	</ul>
</div>

<div class="rightinfo">

	<div class="tools">

		<form class="toolbar">
			<input name="" type="text" class="dfinput" id="cName"
				ng-model="cName" placeholder="账号或姓名关键字" /> <input class="btn click"
				type="submit" value="查询" ng-click="selectUserByName()">
		</form>

		<ul class="toolbar1" has-permission='uUserAdd'>
			<li class="click" ng-click="addNewUser()"><a href=""><span><img
						src="../images/t01.png" /></span>新建</a></li>
		</ul>

	</div>

	<table class="tablelist">
		<thead>
			<tr>
				<th>编号</th>
				<th>账号</th>
				<th>姓名</th>
				<th>性别</th>
				<th>部门</th>
				<th>角色</th>
				<th>电话</th>
				<th>邮箱</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users" id={{user.user_id}}>
				<td>{{$index + 1 }}</td>
				<td>{{user.user_num}}</td>
				<td>{{user.user_name}}</td>
				<td>{{user.user_sex | userSex}}</td>
				<td>{{user.user_dept | userDept}}</td>
				<td>{{user.role.role_name}}</td>
				<td>{{user.user_tel}}</td>
				<td>{{user.user_email}}</td>
				<td><a ng-click="editUserBtn(this)" class="tablelink"
					has-permission='uUserEdit'> 修改</a><a href="#userList"
					ng-click="deleteUser(user.user_id)" class="tablelink"
					has-permission='uUserDel'> 删除</a></td>
			</tr>
		</tbody>
	</table>
	<div class="tcdPageCode">页码容器</div>

</div>

<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>

<!-- 新建和修改模态框 -->
<div class="overlayer"></div>
<div class="tip" style="height: 500px; width: 540px">
	<div class="tiptop">
		<span>添加用户</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<!-- 任务具体内容 -->
	<div class="formbody">
		<form id="addUser-form" class="hidden">
			<ul class="forminfo">
				<li><label>用户账号<b>*</b></label><input type="text"
					name="userNum" class="dfinput" ng-model="addinguser.user_num"
					id="mustInput" /> <span id="userExistError" class="error-span">用户已存在</span>
					<span id="userNumError" class="error-span">账号不能为空</span></li>
				<li><label>用户密码<b>*</b></label><input type="password"
					name="userPwd" class="dfinput" ng-model="addinguser.user_pwd"
					id="mustInput" /> <span id="userPwdError" class="error-span">密码不能少于6位</span></li>
				<li><label>用户姓名<b>*</b></label><input type="text"
					class="dfinput" name="userName" ng-model="addinguser.user_name" />
					<span id="userNameError" class="error-span">姓名不能为空</span></li>
				<li><label>用户电话<b>*</b></label><input type="text"
					name="userTel" class="dfinput" ng-model="addinguser.user_tel"
					id="mustInput" /> <span id="userTelError" class="error-span">格式错误</span></li>
				<li><label>用户邮箱</label><input type="text" class="dfinput"
					name="userEmail" ng-model="addinguser.user_email" /> <span
					id="userEmailError" class="error-span">格式错误</span></li>
				<li><label>用户性别</label><cite><input name="sex"
						type="radio" ng-model="addinguser.user_sex" value="0" />男&nbsp;&nbsp;&nbsp;&nbsp;<input
						name="sex" type="radio" value="1" ng-model="user.user_sex" />女</cite></li>
				<li><label>用户部门<b>*</b></label><cite><input name="dept"
						type="radio" ng-model="addinguser.user_dept" value="0" />综合部&nbsp;&nbsp;&nbsp;&nbsp;<input
						name="dept" type="radio" value="1" ng-model="user.user_dept" />设计部</cite></li>
				<li><label>用户角色<b>*</b></label>
					<div class="vocation">
						<select class="select1 dfinput" name="userRole" ng-model="addinguser.role.role_id"
							ng-options="role.role_id as role.role_name for role in roles">
							<!-- 	<option ng-repeat="role in roles2" value={{role.role_id}}>{{role.role_name}}</option> -->
							<option value="">请选择</option>
						</select> <span id="userRoleError" class="error-span">请选择职位</span>
					</div></li>
			</ul>
			<!-- 按钮 -->
			<div class="tipbtn">
				<input type="button" class="sure sure1" value="确定" />&nbsp; <input
					name="" type="button" class="cancel" value="取消" />
			</div>
		</form>

		<form id="editUser-form" class="hidden">

			<ul class="forminfo">
				<li><label>账号<b>*</b></label><input type="text" class="dfinput"
					ng-model="editUser.user_num" id="mustInput" /></li>
				<li><label>密码<b>*</b></label><input type="password"
					class="dfinput" ng-model="editUser.user_pwd" id="mustInput" /></li>
				<li><label>姓名<b>*</b></label><input type="text" class="dfinput"
					ng-model="editUser.user_name" /></li>
				<li><label>电话<b>*</b></label><input type="text" class="dfinput"
					ng-model="editUser.user_tel" id="mustInput" /></li>
				<li><label>邮箱</label><input type="text" class="dfinput"
					ng-model="editUser.user_email" /></li>
				<li><label>性别</label><cite><input name="sex"
						type="radio" ng-model="editUser.user_sex" value="0" />男&nbsp;&nbsp;&nbsp;&nbsp;<input
						name="sex" type="radio" value="1" ng-model="editUser.user_sex" />女</cite></li>
				<li><label>部门<b>*</b></label><cite><input name="dept"
						type="radio" ng-model="editUser.user_dept" value="0" />综合部&nbsp;&nbsp;&nbsp;&nbsp;<input
						name="dept" type="radio" value="1" ng-model="editUser.user_dept" />设计部</cite></li>
				<li><label>角色<b>*</b></label>
					<div class="vocation">
						<select class="select1 dfinput" name="role" ng-model="editUser.role.role_id"
							ng-options="role.role_id as role.role_name for role in roles2">
							<!-- 	<option ng-repeat="role in roles2" value={{role.role_id}}>{{role.role_name}}</option> -->
							<option value="">请选择</option>
						</select> <span id="userRoleError" class="error-span">请选择职位</span>
					</div></li>
			</ul>
			<!-- 按钮 -->
			<div class="tipbtn">
				<input name="" type="button" class="sure sure2" value="确定"
					ng-click="" />&nbsp; <input name="" type="button" class="cancel"
					value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 新建和修改模态框完 -->
<script>
	$(function() {
		//验证账号是否存在
		var $userNumInput = $('#addUser-form input[name=userNum]'), $userPwdInput = $('#addUser-form input[name=userPwd]'), $userNameInput = $('#addUser-form input[name=userName]'), $userTelInput = $('#addUser-form input[name=userTel]'), $userEmailInput = $('#addUser-form input[name=userEmail]'), $userNumInput = $('#addUser-form input[name=userNum]'), $userRoleSelect = $('#addUser-form select[name=userRole]');
		$userNumInput.blur(function() {
			console.log("账号改变了")
			$.get("/CIMS/user/isUserNumExist.do", {
				userNum : $userNumInput.val()
			}, function(data) {
				if (data) {
					$('#userExistError').css('display', 'inline');
				}
			})
		})

		$userNumInput.click(function() {
			$('#userExistError').css('display', 'none');
			$('#userNumError').css('display', 'none');
		})

		$userNumInput.click(function() {
			$('#userExistError').css('display', 'none');
			$('#userNumError').css('display', 'none');
		})
		$userPwdInput.click(function() {
			$('#userPwdError').css('display', 'none');
		})
		$userNameInput.click(function() {
			$('#userNameError').css('display', 'none');
		})
		$userTelInput.click(function() {
			$('#userTelError').css('display', 'none');
		})
		$userEmailInput.click(function() {
			$('#userEmailError').css('display', 'none');
		})
		$userRoleSelect.click(function() {
			$('#userRoleError').css('display', 'none');
		})
		
	})
</script>
