<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>用户管理</li>
		<li>添加用户</li>
	</ul>
</div>

<div class="rightinfo">
	<ul class="forminfo">
		<li><label>用户名称<b>*</b></label><input type="text" class="dfinput"
			ng-model="user.user_num" id="mustInput" /></li>
		<li><label>用户密码<b>*</b></label><input type="text" class="dfinput"
			ng-model="user.user_pwd" id="mustInput" /></li>
		<li><label>用户姓名</label><input type="text" class="dfinput"
			ng-model="user.user_name" /></li>
		<li><label>用户电话<b>*</b></label><input type="text" class="dfinput"
			ng-model="user.user_tel" id="mustInput" /></li>
		<li><label>用户邮箱</label><input type="text" class="dfinput"
			ng-model="user.user_email" /></li>
		<li><label>性别</label><cite><input name="sex" type="radio"
				ng-model="user.user_sex" value="0" />男&nbsp;&nbsp;&nbsp;&nbsp;<input
				name="sex" type="radio" value="1" ng-model="user.user_sex" />女</cite></li>

		<li><label>所属部门<b>*</b></label>


			<div class="vocation">
				<select class="select1">
					<option ng-repeat="depart in departs" value={{depart.dept_id}}
						ng-model="user.depart"><span>{{depart.dept_name}}</span>
					</option>
				</select>
			</div></li>
		<li><label>所在角色<b>*</b></label>
			<div class="vocation">
				<select class="select1" ng-model="user.roleId">
					<option ng-repeat="role in roles" value={{role.role_id}}>{{role.role_name}}</option>
				</select>
			</div></li>
		<li><label>&nbsp;</label><input name="" type="button" class="btn"
			value="新建" ng-click="addUser()" /></li>
	</ul>


</div>

<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>



