<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li>首页</li>
		<li>任务管理</li>
		<li>合同信息补录</li>
	</ul>
</div>

<div class="formbody">
	<form ng-submit="repeatAddContract()">
		<div class="formtitle">
			<span>合同详情</span>
		</div>
		<table class="tbl tablelist"  on-finish-render-filters>
			<tr>
				<td colspan='2' class="width20 text-center table_title_width">合同名称</td>
				<td colspan='6'>{{cont.cont_name}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width20 text-center table_title_width">合同类型</td>
				<td colspan='2'>{{cont.cont_type | conType}}</td>
				<td class="width20 text-center">合同等级</td>
				<td colspan='2'>{{cont.cont_rank | conRank}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width20 text-center table_title_width">项目名称</td>
				<td colspan='6'>{{cont.cont_project}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width20 text-center table_title_width">业主单位名称<label class="left_length5 text_style">*</label></td>
				<td colspan='6'><input type="text"
					ng-model="contract.cont_client" class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='2' class="width20 text-center table_title_width">业主单位地址<label class="left_length5 text_style">*</label></td>
				<td colspan='6'><input type="text" 
					ng-model="contract.cont_caddress" class="dfinput input_border test"  /></td>
					
			</tr>
			<tr>
				<td colspan='2' class="width20 text-center table_title_width">项目状态</td>
				<td colspan='6'>
					<div class="div-checkbox">
						<input type="radio" name="pstate" value="在建" disabled ng-model="contract.cont_state" value="0"  />在建
					</div>
					<div class="div-checkbox">
						<input type="radio" name="pstate" value="竣工" disabled ng-model="contract.cont_state" value="1"  />竣工
					</div>
					<div class="div-checkbox">
						<input type="radio" name="pstate" value="停建" disabled ng-model="contract.cont_state" value="2" />停建（如停建简要说明原因）
					</div>
				</td>
			</tr>
			<tr>
				<td colspan='2' class="width20 text-center table_title_width">合同签订时间<label class="left_length5 text_style">*</label></td>
				<td colspan='2'>
				<input type="text" class="dfinput dateFormat input_border"
						placeholder="格式：2016-09-07" id="stageEtime" name="stageEtime"
						ng-model="contract.cont_stime" /><span class="error-span little">格式:2016-09-07</span>
				
				</td>
				<td class="width20 text-center">是否有委托书<label class="left_length5 text_style">*</label></td>
				<td colspan='2'><div class="div-checkbox">
						<input name="cont_hasproxy" type="radio" name="hasproxy"
							ng-model="contract.cont_hasproxy" value="1" />有
					</div>
					<div class="div-checkbox">
						<input name="cont_hasproxy" type="radio" name="hasproxy"
							ng-model="contract.cont_hasproxy" value="0" />无
					</div></td>
			</tr>
			<tr>
				<td colspan='2' class="width20 text-center table_title_width">业主传真<label class="left_length5 text_style">*</label></td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_cfax" class="dfinput input_border" /></td>
				<td class="width20 text-center">业主邮编<label class="left_length5 text_style">*</label></td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_czipcode" class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='2' class="width20 text-center table_title_width">业主联系人</td>
				<td colspan='2'>{{cont.cont_cheader}}</td>
				<td class="width20 text-center">业主联系方式</td>
				<td colspan='2'>{{cont.cont_ctel}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width20 text-center table_title_width">业主联系部门</td>
				<td colspan='2'>{{cont.cont_cdept}}</td>
				<td class="width20 text-center">业主邮箱<label class="left_length5 text_style">*</label></td>
				<td colspan='2'><input type="email"
					ng-model="contract.cont_cemail" class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='2' class="width20 text-center table_title_width">合同金额（万元）<label class="left_length5 text_style">*</label></td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_money" class="dfinput input_border" /></td>
				<td class="width20 text-center">项目编码<label class="left_length5 text_style">*</label></td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_pnum" class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='2' class="width20 text-center table_title_width">公司合同编号<label class="left_length5 text_style">*</label></td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_onum" class="dfinput input_border" /></td>
				<td class="width20 text-center">业主方合同编号<label class="left_length5 text_style">*</label></td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_cnum" class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='2' class="width20 text-center table_title_width">项目负责人<label class="left_length5 text_style">*</label></td>
				<td colspan='1'><select class="dfselect input_border"
					ng-model="contract.manager_id">
						<option value={{userDept.user.user_name}} ng-repeat="userDept in userDepts" >{{userDept.user.user_name}}</option>
						
				</select></td>
				<td colspan='1' class="width20 text-center">是否立项<label class="left_length5 text_style">*</label></td>
				<td colspan='1'><div class="div-checkbox">
						<input name="cont_initiation" type="radio" name="initiation"
							ng-model="contract.cont_initiation" value="1" />是
					</div>
					<div class="div-checkbox">
						<input name="cont_initiation" type="radio" name="initiation"
							ng-model="contract.cont_initiation" value="0" />否
					</div></td>
				<td colspan='1' class="width20 text-center">机构代码证号<label class="left_length5 text_style">*</label></td>
				<td colspan='1'><input type="text"
					ng-model="contract.cont_orgcodenum" class="dfinput input_border" />
				</td>
			</tr>
			<tr>
				<td colspan='2' class="width20 text-center table_title_width">纳税人识别号<label class="left_length5 text_style">*</label></td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_taxidennum" class="dfinput input_border" /></td>
				<td class="width20 text-center">增值税：一般纳税人<label class="left_length5 text_style">*</label></td>
				<td colspan='2'><div class="div-checkbox">
						<input name="cont_avetaxpayer" type="radio" name="avetaxpayer"
							ng-model="contract.cont_avetaxpayer" value="1" />是
					</div>
					<div class="div-checkbox">
						<input name="cont_avetaxpayer" type="radio" name="avetaxpayer"
							ng-model="contract.cont_avetaxpayer" value="0" />否
					</div></td>
			</tr>
			<tr>
				<td colspan='2' class="width20 text-center table_title_width">开户行<label class="left_length5 text_style">*</label></td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_bank" class="dfinput input_border" /></td>
				<td class="width20 text-center">银行帐号<label class="left_length5 text_style">*</label></td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_account" class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='2' class="width20 text-center table_title_width">其他需要说明的情况</td>
				<td colspan='6'><textarea name="" cols="" rows=""
						class="textinput text_border" ng-model="contract.cont_remark"></textarea></td>
			</tr>
		</table>
		<input type="submit" id="addContract" class="btn" value="修改合同" />

	</form>
</div>

