<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>合同列表</li>
	</ul>
</div>

<div class="rightinfo">

	<div class="tools">

		<form class="toolbar">
			<input name="" type="text" class="dfinput" id="cName"
				placeholder="合同名称关键字" /> <input class="btn" type="submit"
				value="查询" ng-click="selectConByName()">
		</form>

	</div>

	<table class="tablelist">
		<thead>
			<tr>
				<th>合同名称</th>
				<th>合同金额(万元)</th>
				<th>到款金额(万元)</th>
				<th>到款次数</th>
				<th>已开发票金额(万元)</th>
				<th>开发票次数</th>
				<th>已开收据金额(万元)</th>
				<th>开收据次数</th>
				<th>到款</th>
				<th>发票</th>
				<th>收据</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="con in contracts">
				<td><a class="underline" href="#contractInfo"
					ng-click="getConId(con.cont_id)">{{con.cont_name | cutString}}</a></td>
				<td>{{con.cont_money |receFloat}}</td>
				<td>{{con.remo_totalmoney |receFloat}}</td>
				<td>{{con.remo_count}}</td>
				<td>{{con.invo_totalmoney |receFloat}}</td>
				<td>{{con.invo_total}}</td>
				<td>{{con.rece_totalmoney |receFloat}}</td>
				<td>{{con.rece_total}}</td>
				<td><a
					href="/CIMS/invoice/toBillMngInvoicePage.do#/receiveMoneyList"
					class="tablelink" ng-click="getConId(con.cont_id)">详情</a> <a
					class="tablelink" ng-click="addReMoneyTask()"
					has-permission='bRemoAdd'>到款</a></td>
				<td>
					<!-- <a href="#"
					class="tablelink">录发票</a> --> <a
					href="/CIMS/invoice/toBillMngInvoicePage.do#/invoiceList"
					class="tablelink" ng-click="getConId(con.cont_id)">详情</a> <a
					class="tablelink" ng-click="addInvoiceTask(con.cont_id)"
					has-permission='bInvoAdd'>开发票</a>
				</td>
				<td><a
					href="/CIMS/invoice/toBillMngInvoicePage.do#/receiptList"
					class="tablelink" ng-click="getConId(con.cont_id)">详情</a> <a
					ng-click="addReceipt(con.cont_id)" class="tablelink"
					has-permission='bReceAdd'>开收据</a></td>
			</tr>
		</tbody>
	</table>
	<div class="tcdPageCode">页码容器</div>

</div>

<!-- 派发发票任务模态框 -->
<div class="overlayer"></div>
<div class="tip" id="tipAdd" style="height: 530px">
	<div class="tiptop">
		<span>添加发票</span><a></a>
	</div>
	<div class="formbody">
		<form ng-submit="addNewInvoiceTask()">
			<div class="textWarn">
				<label class="text_style">合同总金额 {{cont.cont_money |
					receFloat}} 万元！&nbsp;&nbsp;已开发票 {{invoTotalMoney | receFloat}} 万元！</label>
			</div>
			<ul class="forminfo">
				<li><label>发票金额</label><input type="text" name="invoMoney"
					id="invoMoney" class="dfinput invoMoney numberFormat"
					ng-model="invoice.invo_money" required placeholder="格式：0.00">万元&nbsp;&nbsp;<span
					class="error-span">格式错误</span></li>
				<li><label>业主公司</label><input type="text" name="invoFirm"
					class="dfinput" ng-model="invoice.invo_firm" required></li>
				<li id="selectReceiver"><label>执行人</label><select
					name="tReceiver" class="dfselect"
					ng-model="invoice.receiver.user_id" ng-options="user.user_id as user.user_name for user in users" required>
						<option value="">
							请选择
						</option>
				</select></li>
				<li id="selectAudit"><label>审核人</label><select name="tAudit"
					class="dfselect" ng-model="invoice.audit.user_id" ng-options="user.user_id as user.user_name for user in users" >
						<option value="">
							请选择
						</option>
				</select></li>
				<li><label>开始时间</label><input type="text"
					ng-model="invoice.invo_stime" class="dfinput dateFormat"
					placeholder="格式：2016-09-07" required /><span class="error-span">格式错误</span>
				</li>
				<li><label>结束时间</label><input type="text" name="invoEtime"
					ng-model="invoice.invo_etime" class="dfinput dateFormat"
					placeholder="格式：2016-09-07" required /><span class="error-span">格式错误</span></li>
				<li id="taskContent"><label>备注</label> <textarea name=""
						cols="" rows="" class="textinput area_style"
						ng-model="invoice.invo_remark"></textarea></li>
			</ul>
			<div class="tipbtn">
				<input name="" type="submit" class="sureSend" id="sureAdd" value="确认"
					/>&nbsp; <input name="" type="button"
					class="cancelSend" id="cancelAdd" value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 派发任务模态框完 -->
<!-- 派发到款通知模态框 -->
<div class="overlayer"></div>
<div class="tip" id="tipRemoAdd" style="height: 420px">
	<div class="tiptop">
		<span>添加到款</span><a></a>
	</div>
	<div class="formbody">
		<form ng-submit="addRemoTask()">
			<div class="textWarn">
				<label class="text_style">合同总金额 {{cont.cont_money |
					receFloat}} 万元！&nbsp;&nbsp;已到款 {{remoTotalMoney | receFloat}} 万元！</label>
			</div>
			<ul class="forminfo">
				<li><label>应到款金额</label><input type="text" name="remoMoney"
					id="remoMoney" class="dfinput remoMoney numberFormat"
					ng-model="receiveMoney.remo_money" required placeholder="格式：0.00">万元&nbsp;&nbsp;<span
					class="error-span">格式错误</span></li>
				<li><label>到款时间</label><input type="text"
					ng-model="receiveMoney.remo_time" class="dfinput dateFormat"
					placeholder="格式：2016-09-07" required /><span class="error-span">格式错误</span>
				</li>
				<li><label>核对人</label><select name="remoOperater"
					class="dfselect" ng-model="receiveMoney.operater.user_id" ng-options="user.user_id as user.user_name for user in users" required>
						<option value="">
							请选择
						</option>
				</select></li>
				<li><label>备注</label> <textarea name="" cols="" rows=""
						class="textinput area_style" ng-model="receiveMoney.remo_remark"></textarea></li>
			</ul>
			<div class="tipbtn">
				<input name="" type="submit" class="sure" id="sureRemoAdd"
					value="派发" />&nbsp; <input name="" type="button" class="cancel"
					id="cancelRemoAdd" value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 派发到款通知模态框完 -->
<!--lwt: 开收据模态框 -->
<div class="overlayer"></div>
<div class="tip" id="tipAddReceipt" style="height: 450px">
	<div class="tiptop">
		<span>添加收据</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<div class="formbody">
		<form ng-submit="addRece()">
			<div class="textWarn">
				<label class="text_style">合同总金额 {{cont.cont_money |
					receFloat}} 万元！&nbsp;&nbsp;已开收据 {{receTotalMoney | receFloat}} 万元！</label>
			</div>
			<ul class="forminfo">
				<li><label>金额</label><input type="text"
					ng-model="receipt.rece_money" class="dfinput numberFormat"
					placeholder="格式：0.00" required />万元&nbsp;&nbsp;<span
					class="error-span">格式错误</span></li>
				<li><label>业主公司</label><input type="text"
					ng-model="receipt.rece_firm" class="dfinput" required /></li>
				<li><label>开收据时间</label><input type="text"
					class="dfinput dateFormat" placeholder="格式：2016-09-07"
					id="stageEtime" name="stageEtime" ng-model="receipt.rece_atime"
					required /><span class="error-span">格式错误</span></li>
				<li><label>备注</label> <textarea name="" cols="" rows=""
						class="textinput area_style" ng-model="receipt.rece_remark"></textarea></li>
			</ul>
			<div class="tipbtn">
				<input name="" type="submit" class="sureSend" id="sureAddReceipt"
					value="添加" />&nbsp; <input name="" type="button"
					id="cancelAddReceipt" class="cancelSend" value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 开收据模态框完 -->



