<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>任务管理</li>
		<li>查看合同信息</li>
	</ul>
</div>

<div class="formbody">

	<div class="formtitle">
		<span>合同详情<img src="../images/showInfo.png"
			class="hand showInfo" id="contShow" ng-click="showContInfo()"><img
			src="../images/hideInfo.png" class="hand hideE showInfo"
			id="contHide" ng-click="hideContInfo()"></span> <a class="update-btn"
			href="/CIMS/file/download.do">下载附件</a>
		<!-- <a class="update-btn"
			href="#/contractUpdate" has-permission='cHeadEdit'>修改1</a><a
			class="update-btn" href="#/contractModify" has-permission='cBodyEdit'>修改2</a> -->
	</div>
	<form ng-submit="repeatAddContract()" name="staff">
		<table class="tbl tablelist" id="contInformation">
			<tr>
				<td colspan='2' class="width15 text-center">合同名称<label
					class="left_length5 text_style">*</label></td>
				<td colspan='6'>{{cont.cont_name}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">合同类别<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'>{{cont.cont_type |conType}}</td>
				<td colspan='2' class=" text-center">合同等级<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'>{{cont.cont_rank | conRank}}
				<td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">合同金额（万元）<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'>{{cont.cont_money}}</td>
				<td colspan='2' class="width15 text-center">项目编码<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'>{{cont.cont_pnum}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">合同编号</td>
				<td colspan='2'>{{cont.cont_onum}}</td>
				<td colspan='2' class="width15 text-center">甲方合同编号</td>
				<td colspan='2'>{{cont.cont_cnum}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">项目名称<label
					class="left_length5 text_style">*</label></td>
				<td colspan='6'>{{cont.cont_project}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">装机容量（MW）<label
					class="left_length5 text_style"></label></td>
				<td colspan='2'>{{cont.install_capacity | receFloat}}</td>
				<td colspan='2' class="width15 text-center">项目所在省市<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'>{{cont.province}}&nbsp;&nbsp;{{cont.city}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">项目阶段<label
					class="left_length5 text_style">*</label></td>
				<td colspan='6'>{{cont.pro_stage | conProStage}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">项目状态<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'>{{cont.cont_state |conState}}</td>
				<td colspan='2' class="width15 text-center">合同签订时间<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'>{{cont.cont_stime | dateType}}</td>

			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">项目设总<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'>{{cont.manager.user_name}}</td>
				<td colspan='2' class="width15 text-center">是否有委托书<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'>{{cont.cont_hasproxy | conHasproxy}}</td>
			<tr>
				<td colspan='2' class="width15 text-center">项目副设总</td>
				<td colspan='2'>{{cont.assistant_manager.user_name}}</td>
				<td colspan='2' class="width15 text-center">是否立项<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'>{{cont.cont_initiation | conInitiation}}</td>
			</tr>
			<tr>
				<td rowspan='16' colspan='1' class="text-center">业主信息</td>
				<td colspan='2' class="width15 text-center">公司全称<label
					class="left_length5 text_style">*</label></td>
				<td colspan='6'>{{cont.cont_client}}</td>
			</tr>

			<tr>
				<td colspan='3' class="text-center">组织机构代码证号/统一社会信用代码</td>
				<td colspan='4'>{{cont.cont_orgcodenum}}</td>
			</tr>

			<tr>
				<td colspan='2' class="text-center">企业性质<label
					class="left_length5 text_style">*</label></td>
				<td colspan='4'>{{cont.company_type | conCompanyType}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">通讯地址</td>
				<td colspan='6'>{{cont.cont_caddress}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">业主邮编</td>
				<td colspan='1'>{{cont.cont_czipcode}}</td>
				<td colspan='2' class="width15 text-center">业主传真</td>
				<td colspan='2'>{{cont.cont_cfax}}</td>
			</tr>
			<tr>
				<td colspan='3' class="width15 text-center ">联系人1</td>

				<td colspan='4' class="width15 text-center">联系人2</td>

			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">姓名</td>
				<td colspan='1'>{{cont.cont_cheader}}</td>
				<td colspan='2' class="width15 text-center">姓名</td>
				<td colspan='2'>{{cont.cont_cheader2}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">手机号</td>
				<td colspan='1'>{{cont.cont_ctel}}</td>
				<td colspan='2' class="width15 text-center">手机号</td>
				<td colspan='2'>{{cont.cont_ctel2}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">固定电话</td>
				<td colspan='1'>{{cont.landline_tel}}</td>
				<td colspan='2' class="width15 text-center">固定电话</td>
				<td colspan='2'>{{cont.landline_tel2}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">职务</td>
				<td colspan='1'>{{cont.post}}</td>
				<td colspan='2' class="width15 text-center">职务</td>
				<td colspan='2'>{{cont.post2}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">所在部门</td>
				<td colspan='1'>{{cont.cont_cdept}}</td>
				<td colspan='2' class="width15 text-center">所在部门</td>
				<td colspan='2'>{{cont.cont_cdept2}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">电子邮箱</td>
				<td colspan='1'>{{cont.cont_cemail}}</td>
				<td colspan='2' class="width15 text-center">电子邮箱</td>
				<td colspan='2'>{{cont.cont_cemail2}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">公司注册地址</td>
				<td colspan='6'>{{cont.cont_czipcode}}</td>

			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">纳税人类型</td>
				<td colspan='1'>{{cont.cont_avetaxpayer | conAvetaxpayer}}</td>
				<td colspan='2' class="width15 text-center">发票类型</td>
				<td colspan='2'>{{cont.invoice_type | conInvoiceType}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">纳税人识别号</td>
				<td colspan='1'>{{cont.cont_taxidennum}}</td>
				<td colspan='2' class="width15 text-center">电话（固定）</td>
				<td colspan='2'>{{cont.tel}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">开户行</td>
				<td colspan='1'>{{cont.cont_bank}}</td>
				<td colspan='2' class="width15 text-center">银行账号</td>
				<td colspan='2'>{{cont.cont_cfax}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">其他需要说明的情况</td>
				<td colspan='6'>{{cont.cont_remark}}</textarea></td>
			</tr>
		</table>
	</form>
</div>
<!-- 执行管控任务完 -->
<div class="formbody">

	<div class="formtitle">
		<span>工期阶段详情<img src="../images/showInfo.png"
			class="hand showInfo" id="prstShow" ng-click="showPrstInfo()"><img
			src="../images/hideInfo.png" class="hand hideE showInfo"
			id="prstHide" ng-click="hidePrstInfo()"></span>
		<!-- <a
			class="update-btn tablelink" href="" ng-click="addOneStage()"
			has-permission='cPsAdd'>添加</a> -->
	</div>

	<table class="tbl tablelist" id="prstInformation">
		<tr>
			<td class="width10 text-center">工期阶段</td>
			<td class="width20 text-center">内 容</td>
			<td class="width10 text-center">工期进度</td>
			<td class="width10 text-center">项目经理</td>
			<td class="width10 text-center">应完工时间</td>
			<td class="width10 text-center">实完工时间</td>
			<!-- <td class="width10 text-center" has-permission='cPsEdit'>操作</td> -->
		</tr>
		<tr ng-repeat="stage in prst">
			<td class="width10 text-center">阶段{{$index+1}}</td>
			<td>{{stage.prst_content}}</td>
			<td>{{stage.prst_state |prstType}}</td>
			<td>{{stage.manager.user_name}}</td>
			<td>{{stage.prst_etime.time | dateType}}</td>
			<td>{{stage.prst_atime.time | dateType}}</td>
			<!-- <td has-permission='cPsEdit'><a class="tablelink"
				ng-click="modifyPrst()">修改</a><a class="tablelink"
				ng-click="delPrst()">删除</a></td> -->
		</tr>

	</table>


</div>
<div class="formbody">

	<div class="formtitle">
		<span>收款节点详情<img src="../images/showInfo.png"
			class="hand showInfo" id="renoShow" ng-click="showRenoInfo()"><img
			src="../images/hideInfo.png" class="hand hideE showInfo"
			id="renoHide" ng-click="hideRenoInfo()"></span>
		<!-- <a
			class="update-btn tablelink" href="" ng-click="addOneNode()"
			has-permission='cRnAdd'>添加</a> -->
	</div>
	<table class="tbl tablelist" id="renoInformation">
		<tr>
			<td class="width10 text-center">收款节点</td>
			<td class="width20 text-center">内容</td>
			<td class="width10 text-center">应收金额（万元）</td>
			<td class="width10 text-center">实收金额（万元）</td>
			<td class="width10 text-center">收款情况</td>
			<td class="width10 text-center">应收款时间</td>
			<td class="width20 text-center">工期阶段内容</td>
			<!-- <td colspan='1'>实收款金额</td>
				<td colspan='1'>实收款时间</td> -->

			<!-- 	<td class="width10 text-center">操作</td> -->
		</tr>
		<tr ng-repeat="node in reno">
			<td class="width10 text-center">节点{{$index+1}}</td>
			<td>{{node.reno_content}}</td>
			<td>{{node.reno_money | receFloat}}</td>
			<td>{{node.reno_amoney | receFloat}}</td>
			<td>{{node.reno_state |renoType}}</td>
			<td>{{node.reno_time.time | dateType}}</td>
			<td>{{node.projectStage.prst_content}}</td>

			<!-- <td><a ng-click="modifyReno()" class="tablelink"
				has-permission='cRnEdit'>修改</a><a ng-click="delReno()"
				class="tablelink" has-permission='cRnDel'>删除</a><a
				ng-click="addReceipt(node.contract.cont_id,node.reno_id)"
				class="tablelink" has-permission='bReceAdd'>开收据</a></td> -->

		</tr>

	</table>
</div>
<!-- 派发任务模态框 -->
<div class="overlayer"></div>
<div class="tip" id="tipAdd" style="height: 400px">
	<div class="tiptop">
		<span>添加收据</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<div class="formbody">
		<form ng-submit="addReceipt()">
			<ul class="forminfo">
				<li><label>金额</label><input type="text"
					ng-model="receipt.receMoney" class="dfinput" required />万元</li>
				<li><label>业主公司</label><input type="text"
					ng-model="receipt.receFirm" class="dfinput" required /></li>
				<li><label>收款时间</label><input type="text"
					class="dfinput dateFormat" placeholder="格式：2016-09-07"
					id="stageEtime" name="stageEtime" ng-model="receipt.receAtime"
					required /><span class="error-span">格式错误</span></li>
				<li><label>备注</label> <textarea name="" cols="" rows=""
						class="textinput area_style" ng-model="receipt.receRemark"></textarea></li>

			</ul>
			<div class="tipbtn">
				<input name="" type="submit" class="sureSend" id="sureAdd"
					value="添加" />&nbsp; <input name="" type="button" id="cancelAdd"
					class="cancelSend" value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 派发任务模态框完 -->
<!-- 添加单个工期阶段模态框 -->
<div class="overlayer"></div>
<div class="tip" id="prstAdd" style="height: 300px">
	<div class="tiptop">
		<span>添加工期阶段</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<div class="formbody">
		<form>
			<ul class="forminfo" ng-repeat="stage in fchat.stages">
				<li><label>内容</label><input type="text" class="dfinput"
					id="stageContent" name="stageContent" ng-model="stage.prst_content"
					required /></li>
				<li><label>预计完工时间</label><input type="text"
					class="dfinput dateFormat" placeholder="格式：2016-09-07"
					id="stageEtime" name="stageEtime" ng-model="stage.prst_etime"
					required /><span class="error-span">格式错误</span></li>
				<li><label>提前提醒天数</label> <input type="text" class="dfinput"
					id="stageWtime" name="stageWtime" placeholder="格式：7"
					ng-model="stage.prst_wday" required />天</li>
			</ul>
			<div class="tipbtn">
				<input name="" type="submit" class="sureSend" id="sureAddPrst"
					value="确认" />&nbsp; <input name="" type="button"
					id="cancelAddPrst" class="cancelSend" value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 添加单个工期阶段模态框完 -->
<!-- 添加单个收款节点模态框 -->
<div class="overlayer"></div>
<div class="tip" id="renoAdd" style="height: 400px">
	<div class="tiptop">
		<span>添加收款节点</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<div class="formbody">
		<form>
			<ul class="forminfo" ng-repeat="node in rnchat.nodes">
				<li><label>内容</label><input type="text"
					class="dfinput middle_input" id="nodeContent" name="nodeContent"
					ng-model="node.reno_content" required /></li>
				<li><label>收款时间</label><input type="text"
					class="dfinput dateFormat" placeholder="格式：2016-09-07"
					id="nodeEtime" name="nodeEtime" ng-model="node.reno_time" required /><span
					class="error-span">日期格式错误</span></li>
				<li><label>工期阶段</label> <select class="dfselect middle_input"
					ng-model="node.projectStage"><option
							value={{stage.prst_id}} ng-repeat="stage in prst">{{stage.prst_content}}</option>
				</select></li>
				<li><label>实际应收金额</label><input type="text"
					class="dfinput width35" id="nodeMoney" name="nodeMoney"
					ng-model="node.reno_money" placeholder="格式：0.00" required />万元</li>
				<li><label>提醒天数设置</label><input type="text"
					class="dfinput width35" id="nodeWday" name="nodeWday"
					placeholder="格式：7" ng-model="node.reno_wday" required />天</li>

			</ul>
			<div class="tipbtn">
				<input name="" type="submit" class="sureSend" id="sureAddReno"
					value="确认" />&nbsp; <input name="" type="button"
					id="cancelAddReno" class="cancelSend" value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 添加单个收款节点模态框完 -->
<!-- 修改单个工期阶段模态框 -->
<div class="overlayer"></div>
<div class="tip" id="prstModify" style="height: 300px">
	<div class="tiptop">
		<span>修改工期阶段</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<div class="formbody">
		<form>
			<ul class="forminfo">
				<li><label>内容</label><input type="text" class="dfinput"
					id="stageContent" name="stageContent"
					ng-model="prStage.prst_content" required /></li>
				<li><label>预计完工时间</label><input type="text"
					class="dfinput dateFormat" placeholder="格式：2016-09-07"
					id="stageEtime" name="stageEtime" ng-model="prStage.prst_etime"
					required /><span class="error-span">格式错误</span></li>
				<li><label>提前提醒天数</label> <input type="text" class="dfinput"
					id="stageWtime" name="stageWtime" placeholder="格式：7"
					ng-model="prStage.prst_wday" required />天</li>

			</ul>
			<div class="tipbtn">
				<input name="" type="submit" class="sureSend" id="sureModifyPrst"
					value="修改" />&nbsp; <input name="" type="button"
					id="cancelModifyPrst" class="cancelSend" value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 修改单个工期阶段模态框完 -->
<!-- 修改单个收款节点模态框 -->
<div class="overlayer"></div>
<div class="tip" id="renoModify" style="height: 400px">
	<div class="tiptop">
		<span>修改收款节点</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<div class="formbody">
		<form>
			<ul class="forminfo">
				<li><label>工期阶段</label> <select id="nodePrstModify"
					class="dfselect middle_input" ng-change="prstChange(1)"
					ng-model="reNode.projectStage.prst_id" value="stage.prst_id"
					ng-options="stage.prst_id as stage.prst_content for stage in prst">
						<!-- <option
							value={{stage.prst_id}} ng-repeat="stage in prst">{{stage.prst_id}}:{{stage.prst_content}}</option> -->
						<option value="">请选择工期阶段</option>
				</select></li>
				<li><label>内容</label><input id="nodeContentModify" type="text"
					class="dfinput middle_input" ng-model="reNode.reno_content"
					required /></li>
				<li><label>收款时间</label><input type="text"
					class="dfinput dateFormat" placeholder="格式：2016-09-07"
					ng-model="reNode.reno_time" required /><span class="error-span">日期格式错误</span></li>
				<li><label>实际应收金额</label><input type="text"
					class="dfinput width35" ng-model="reNode.reno_money"
					placeholder="格式：0.00" required />万元</li>
				<li><label>提醒天数设置</label><input type="text"
					class="dfinput width35" placeholder="格式：7"
					ng-model="reNode.reno_wday" required />天</li>

			</ul>
			<div class="tipbtn">
				<input name="" type="submit" class="sureSend" id="sureModifyReno"
					value="确认" />&nbsp; <input name="" type="button"
					id="cancelModifyReno" class="cancelSend" value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 修改单个收款节点模态框完 -->
<!-- //删除任务模态框 -->
<div class="tip" id="tipDel" style="height: 220px">
	<div class="tiptop">
		<span>提示信息</span><a></a>
	</div>

	<div class="tipinfo">
		<div class="tipright">
			<p>是否确认对信息的删除 ？</p>
			<cite>如果是请点击确定按钮 ，否则请点取消。</cite>
		</div>
	</div>

	<div class="tipbtn">
		<input name="" type="button" class="sureSend" id="sureDel" value="确定" />&nbsp;
		<input name="" type="button" class="cancelSend" id="cancelDel"
			value="取消" />
	</div>
</div>
<!-- //删除任务模态框 -->