<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>合同列表</li>
		<li>收据列表</li>
	</ul>
</div>

<div class="rightinfo">
	<div class="formtitle">
		<span>收据详情</span>
	</div>
	<div>
		<label class="text_style">应收款 {{cont.cont_money | receFloat}}
			万元！</label><label class="text_style">实收款 {{totalMoney | receFloat}}
			万元！</label><label class="text_style">共开了 {{totalRow}} 张收据！</label>
	</div>
	<div class="tools">
		<ul class="toolbar1"  ng-show='receAddShow'>
			<li class="click"><a
				ng-click="addReceipt()"
					class="tablelink" has-permission='bReceAdd'>开收据</a></li>
		</ul>
	</div>
	<table class="tablelist">
		<thead>
			<tr>
				<th class="width10">收据编号</th>
				<th class="width10">金额（万元）</th>
				<th class="width10">实际收款时间</th>
				<!-- <th class="width10">应收款时间</th>
				<th>收款节点</th> -->
				<th>交款业主公司</th>
				<th class="width10">录入人员</th>
				<th>备注</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="rece in receipts">
				<td class="width10">收据{{$index + 1}}</td>
				<td class="width5">{{rece.rece_money | receFloat}}</td>
				<td class="width10">{{rece.rece_atime.time | dateType}}</td>
				<!-- <td class="width10">{{rece.receiveNode.reno_time.time |
					dateType}}</td>
				<td class="width10">{{rece.receiveNode.reno_content |
					cutString}}</td> -->
				<td class="width15">{{rece.rece_firm}}</td>
				<td class="width10">{{rece.user.user_name}}</td>
				<td class="width15">{{rece.rece_remark | cutString}}</td>
				<td class="width10"><a href="#receiptDetail" class="tablelink"
					ng-click="getReceId(rece.rece_id)">详情</a></td>
			</tr>
		</tbody>
	</table>
	<div class="tcdPageCode">页码容器</div>

</div>

<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
<!--lwt: 开收据模态框 -->
<div class="overlayer"></div>
<div class="tip" id="tipAddReceipt" style="height: 400px">
	<div class="tiptop">
		<span>添加收据</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<div class="formbody">
		<form ng-submit="addReceipt()">
			<ul class="forminfo">
				<li><label>金额</label><input type="text"
					ng-model="receipt.receMoney" class="dfinput" required />万元</li>
				<li><label>业主公司</label><input type="text"
					ng-model="receipt.receFirm" class="dfinput" required /></li>
				<li><label>收款时间</label><input type="text"
					class="dfinput dateFormat" placeholder="格式：2016-09-07"
					id="stageEtime" name="stageEtime" ng-model="receipt.receAtime"
					required /><span class="error-span">格式错误</span></li>
				<li><label>备注</label> <textarea name="" cols="" rows=""
						class="textinput area_style" ng-model="receipt.receRemark"></textarea></li>

			</ul>
			<div class="tipbtn">
				<input name="" type="submit" class="sureSend" id="sureAddReceipt"
					value="添加" />&nbsp; <input name="" type="button" id="cancelAddReceipt"
					class="cancelSend" value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 开收据模态框完 -->





