<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>合同列表</li>
		<li>收据列表</li>
	</ul>
</div>

<div class="rightinfo">
	<div class="formtitle">
		<span>收据详情</span>
	</div>
	<div>
		<label class="text_style">应收款 {{cont.cont_money | receFloat}}
			万元！</label><label class="text_style">实收款 {{totalMoney | receFloat}}
			万元！</label><label class="text_style">共开了 {{totalRow}} 张收据！</label>
	</div>
	<div class="tools">
		<ul class="toolbar1">
			<li class="click"><a
				href="/CIMS/contract/toContractPage.do#/renoInfo" ><span><img
						src="../images/t01.png" /></span>开收据</a></li>
		</ul>
	</div>
	<table class="tablelist">
		<thead>
			<tr>
				<th class="width10">收据编号</th>
				<th class="width10">金额（万元）</th>
				<th class="width10">实际收款时间</th>
				<th class="width10">应收款时间</th>
				<th>收款节点</th>
				<th>交款业主公司</th>
				<th class="width10">录入人员</th>
				<th>备注</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="rece in receipts">
				<td class="width10">收据{{$index + 1}}</td>
				<td class="width5">{{rece.rece_money | receFloat}}</td>
				<td class="width10">{{rece.rece_atime.time | dateType}}</td>
				<td class="width10">{{rece.receiveNode.reno_time.time |
					dateType}}</td>
				<td class="width10">{{rece.receiveNode.reno_content |
					cutString}}</td>
				<td class="width15">{{rece.rece_firm}}</td>
				<td class="width10">{{rece.user.user_name}}</td>
				<td class="width15">{{rece.rece_remark | cutString}}</td>
				<td class="width10"><a href="#receiptDetail" class="tablelink"
					ng-click="getReceId(rece.rece_id)">详情</a></td>
			</tr>
		</tbody>
	</table>
	<div class="tcdPageCode">页码容器</div>

</div>

<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>



