<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>任务管理</li>
		<li>收据信息管理</li>
	</ul>
</div>

<div class="formbody">
	<form ng-submit="repeatAddContract()">
		<div class="formtitle">
			<span>合同详情<img src="../images/showInfo.png"
				class="hand showInfo" id="contShow" ng-click="showContInfo()"><img
				src="../images/hideInfo.png" class="hand hideE showInfo"
				id="contHide" ng-click="hideContInfo()"></span>
		</div>
		<table class="tbl tablelist hideE" id="contInformation">
			<tr>
				<td colspan='2' class="width15 text-center">合同名称</td>
				<td colspan='6'>{{cont.cont_name}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">合同类型</td>
				<td colspan='2' class="width35">{{cont.cont_type | conType}}</td>
				<td class="width15 text-center">合同等级</td>
				<td colspan='2' class="width35">{{cont.cont_rank | conRank}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">项目名称</td>
				<td colspan='6'>{{cont.cont_project}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">业主单位名称</td>
				<td colspan='6'>{{cont.cont_client}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">业主单位地址</td>
				<td colspan='6'>{{cont.cont_caddress}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">项目状态</td>
				<td colspan='6'>{{cont.cont_state | conState}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">合同签订时间</td>
				<td colspan='2' class="width35">{{cont.cont_stime}}</td>
				<td class="width15 text-center">是否有委托书</td>
				<td colspan='2'>{{cont.cont_hasproxy | conHasproxy}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">业主传真</td>
				<td colspan='2' class="width35">{{cont.cont_cfax}}</td>
				<td class="width15 text-center">业主邮编</td>
				<td colspan='2' class="width35">{{cont.cont_czipcode}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">业主联系人</td>
				<td colspan='2' class="width35">{{cont.cont_cheader}}</td>
				<td class="width15 text-center">业主联系方式</td>
				<td colspan='2' class="width35">{{cont.cont_ctel}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">业主联系部门</td>
				<td colspan='2' class="width35">{{cont.cont_cdept}}</td>
				<td class="width15 text-center">业主邮箱</td>
				<td colspan='2' class="width35">{{cont.cont_cemail}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">合同金额（万元）</td>
				<td colspan='2' class="width35">{{cont.cont_money}}</td>
				<td class="width15 text-center">项目编码</td>
				<td colspan='2' class="width35">{{cont.cont_pnum}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">公司合同编号</td>
				<td colspan='2' class="width35">{{cont.cont_onum}}</td>
				<td class="width15 text-center">业主方合同编号</td>
				<td colspan='2' class="width35">{{cont.cont_cnum}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">项目负责人</td>
				<td colspan='1'>{{cont.manager.user_name}}</td>

				<td colspan='1' class="width15 text-center">组织机构代码证号</td>
				<td colspan='1'>{{cont.cont_orgcodenum}}</td>
				<td colspan='1' class="width15 text-center">是否立项</td>
				<td colspan='1'>{{cont.cont_initiation | conInitiation}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">纳税人识别号</td>
				<td colspan='2' class="width35">{{cont.cont_taxidennum}}</td>
				<td class="width15 text-center">增值税：一般纳税人</td>
				<td colspan='2'>{{cont.cont_avetaxpayer |conAvetaxpayer}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">开户行</td>
				<td colspan='2' class="width35">{{cont.cont_bank}}</td>
				<td class="width15 text-center">银行帐号</td>
				<td colspan='2' class="width35">{{cont.cont_account}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">其他需要说明的情况</td>
				<td colspan='6'>{{cont.cont_remark}}</td>
			</tr>
		</table>
	</form>
</div>

<div class="formbody">
	<form ng-submit="addProjectStage()">
		<div class="formtitle">
			<span>工期阶段详情<img src="../images/showInfo.png"
				class="hand showInfo" id="prstShow" ng-click="showPrstInfo()"><img
				src="../images/hideInfo.png" class="hand hideE showInfo"
				id="prstHide" ng-click="hidePrstInfo()"></span>
		</div>
		<table class="tbl tablelist hideE" id="prstInformation">
			<tr>
				<td class="width10 text-center">工期阶段</td>
				<td class="width20 text-center">内 容</td>
				<td class="width10 text-center">应完工时间</td>
				<td class="width10 text-center">工期进度</td>
				<td class="width10 text-center">项目经理</td>
				<td class="width10 text-center">实完工时间</td>

			</tr>
			<tr ng-repeat="stage in prst">
				<td class="width10 text-center">阶段{{$index+1}}</td>
				<td>{{stage.prst_content}}</td>
				<td>{{stage.prst_etime.time | dateType}}</td>
				<td>{{stage.prst_state |prstType}}</td>
				<td>{{stage.manager.user_name}}</td>
				<td>{{stage.prst_atime.time | dateType}}</td>

			</tr>

		</table>

	</form>
</div>
<div class="formbody">
	<form ng-submit="addReceiveNode()">
		<div class="formtitle">
			<span>收款节点详情</span>
		</div>
		<table class="tbl tablelist">
			<tr>
				<td class="width10 text-center">收款节点</td>
				<td class="width20 text-center">内容</td>
				<td class="width10 text-center">实收金额（万元）</td>
				<td class="width10 text-center">应收金额（万元）</td>
				<td class="width10 text-center">应收款时间</td>
				<td class="width20 text-center">工期阶段内容</td>
				<!-- <td colspan='1'>实收款金额</td>
				<td colspan='1'>实收款时间</td> -->
				<td class="width10 text-center">收款情况</td>
				<td class="width10 text-center">操作</td>
			</tr>
			<!-- <tr>
			<td class="width10 text-center">节点1</td>
			<td>发的沙发上地方</td>
			<td>12</td>
			<td>2016-12-9-09}</td>
			<td>已完成</td>
			<td>待收款</td>
			<td><a href="#receiptAdd" ng-click="getRenoId(1,1)" class="tablelink">开收据</a></td>
			</tr> -->

			<tr ng-repeat="node in reno">
				<td class="width5 text-center">节点{{$index+1}}</td>
				<td>{{node.reno_content}}</td>
				<td>{{node.reno_amoney | receFloat}}</td>
				<td>{{node.reno_money | receFloat}}</td>
				<td>{{node.reno_time.time | dateType}}</td>
				<td>{{node.projectStage.prst_content}}</td>
				<td>{{node.reno_state| renoType}}</td>
				<td><a href="#receiptAdd"
					ng-click="getRenoId(node.reno_id,node.contract.cont_id)"
					class="tablelink">开收据</a></td>
			</tr>

		</table>

		<input type="submit" id="addReceiveNode" class="btn"
			style="display: none" value="添加收款节点" />
	</form>
</div>

