<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>合同列表</li>
		<li>到款列表</li>
	</ul>
</div>

<div class="rightinfo">

	<div class="tools">
		<form class="toolbar">
			<select class="dfselect" ng-model="remoState" id="remoState"
				style="width: 167px">
				<option value="-1">全部</option>
				<option value="0">待核对</option>
				<option value="1">已核对</option>
			</select> <input class="btn" type="submit" value="查询"
				ng-click="selectReceiveMoneysByContId()">
		</form>
		<div id="inmoPrompt" is-show>
			<label class="text_style left_length ">合同总金额
				{{cont.cont_money | invoFloat}} 万元！</label><label class="text_style">已到款金额
				{{totalMoney | invoFloat}} 万元！</label>
		</div>
	</div>

	<table class="tablelist">
		<thead>
			<tr>
				<th>序号</th>
				<th>合同</th>
				<th>应到款（万元）</th>
				<th>实到款（万元）</th>
				<th>状态</th>
				<th>到款时间</th>
				<th>业主公司</th>
				<th>发起者</th>
				<th>审核者</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="remo in remos">
				<td class="width5">{{$index + 1}}</td>
				<td class="width15"><a
					href="/CIMS/contract/toContractPage.do#/contractInfo"
					ng-click="getConId(t.contract.cont_id)">{{remo.contract.cont_name |cutString}}</a></td>
				<td class="width10">{{remo.remo_money |receFloat}}</td>
				<td class="width10">{{remo.remo_amoney | receFloat}}</td>
				<td class="width5">{{remo.remo_state |remoState}}</td>
				<td class="width10">{{remo.remo_time.time |dateType}}</td>
				<td class="width10">{{remo.contract.cont_client | cutString}}</td>
				<td class="width5">{{remo.creater.user_name}}</td>
				<td class="width5">{{remo.operater.user_name}}</td>
				<td class="width10"><a ng-click="checkRemo()"
					class="tablelink underline">查看</a><a ng-click="auditRemo()"
					class="tablelink underline" has-permission="tRemoAudit">核对</a><a
					ng-click="editRemo()" class="tablelink underline" has-permission='bRemoAdd'>修改</a><a
					ng-click="delRemo()" class="tablelink underline" has-permission='bRemoAdd'>删除</a></td>

			</tr>
		</tbody>
	</table>

	<div class="tcdPageCode">页码容器</div>

</div>
<!-- 修改到款通知模态框 -->
<div class="overlayer"></div>
<div class="tip" id="tipRemo" style="height: 450px">
	<div class="tiptop">
		<span>到款详情</span><a></a>
	</div>
	<div class="formbody">
		<form ng-submit="editReceiveMoneyTask()">
			<ul class="forminfo">
				<li class="hidden"><input type="text" name="remoMoney"
					id="remoMoney" class="dfinput numberFormat"
					ng-model="receiveMoney.remo_id" required></li>
				<li><label>应到款金额</label><input type="text" name="remoMoney"
					id="remoMoney" class="dfinput numberFormat"
					ng-model="receiveMoney.remo_money" required placeholder="格式：0.00">万元
					&nbsp;<span class="error-span">格式错误</span></li>
				<li><label>到款时间</label><input type="text"
					ng-model="receiveMoney.remo_time" class="dfinput dateFormat"
					placeholder="格式：2016-09-07" required /><span class="error-span">格式错误</span>
				</li>
				<li><label>核对人</label><select name="remoOperater"
					class="dfselect" ng-model="receiveMoney.operater.user_id"
					ng-options="user.user_id as user.user_name for user in users">
						<option value="">请选择用户</option>
				</select></li>
				<li><label>备注</label> <textarea name="" cols="" rows=""
						class="textinput area_style" ng-model="receiveMoney.remo_remark"
						></textarea></li>
				<li id="remoAmoney"><label>实到款金额</label><input type="text" name="remoAmoney"
					id="remoAmoney" class="dfinput numberFormat"
					ng-model="receiveMoney.remo_amoney" required placeholder="格式：0.00">万元&nbsp;<span
					class="error-span">格式错误</span></li>
			</ul>
			<div class="tipbtn">
				<input name="" type="submit" class="sure" id="sureRemoEdit"
					value="确认" style="display:none" />&nbsp;<input name="" type="button" class="cancel"
					id="cancelRemoEdit" value="取消"  style="display:none"/>
			</div>
		</form>
	</div>
</div>
<!-- 修改到款通知模态框完 -->
<!-- 审核到款通知模态框 -->
<div class="overlayer"></div>
<div class="tip" id="tipRemoAudit" style="height: 450px">
	<div class="tiptop">
		<span>创建任务</span><a></a>
	</div>
	<div class="invorkInfo-div">
		<fieldset>
			<legend>到款信息</legend>
			<ul class="forminfo">
				<li><label>应到款金额：</label>{{receiveMoney.remo_money}}</li>
				<li><label>到款时间：</label>{{receiveMoney.remo_time |dateType}}</li>
				<li><label>核对人：</label>{{receiveMoney.operater.user_name}}</li>
				<li><div class="remark-div">备注：{{invoice.invo_remark}}</div></li>
			</ul>
		</fieldset>
	</div>
	<div class="formbody">
		<form ng-submit="addReceiveMoneyTask()">
			<ul class="forminfo">
				<li><label>实到款金额</label><input type="text" name="remoAmoney"
					id="remoAmoney" class="dfinput numberFormat"
					ng-model="receiveMoney.remo_amoney" required placeholder="格式：0.00">万元
					&nbsp;<span class="error-span">格式错误</span></li>
			</ul>
			<div class="tipbtn">
				<input name="" type="submit" class="sure" id="sureRemoAudit"
					value="确认" />&nbsp; <input name="" type="button" class="cancel"
					id="cancelRemoAudit" value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 审核到款通知模态框完 -->
<!-- 查看到款通知模态框 -->
<div class="overlayer"></div>
<div class="tip" id="tipCheckRemo" style="height: 380px">
	<div class="tiptop">
		<span>到款详情</span><a></a>
	</div>
	<div class="invorkInfo-div">
		<fieldset>
			<legend>到款信息</legend>
			<ul class="forminfo">
				<li><label>应到款金额：</label>{{receiveMoney.remo_money | receFloat}}&nbsp;&nbsp;万元</li>
				<li><label>实到款金额：</label>{{receiveMoney.remo_amoney | receFloat}}&nbsp;&nbsp;万元</li>
				<li><label>到款时间：</label>{{receiveMoney.remo_time.time | dateType}}</li>
				<li><label>核对人：</label>{{receiveMoney.operater.user_name}}</li>
				<li><div class="remark-div">备注：{{receiveMoney.remo_remark}}</div></li>
			</ul>
		</fieldset>
	</div>
</div>
<!-- 修改到款通知模态框完 -->
<!-- //删除任务模态框 -->
<div class="tip" id="tipDel" style="height: 220px">
	<div class="tiptop">
		<span>提示信息</span><a></a>
	</div>

	<div class="tipinfo">
		<div class="tipright">
			<p>是否确认对信息的删除 ？</p>
			<cite>如果是请点击确定按钮 ，否则请点取消。</cite>
		</div>
	</div>

	<div class="tipbtn">
		<input name="" type="button" class="sure" id="sureDel" value="确定" />&nbsp;
		<input name="" type="button" class="cancel" id="cancelDel" value="取消" />
	</div>
</div>
