
<br>
<span style="font-size: 14px; margin-left: 24px">{{name}}</span>
<br>
<br>
<span style="font-size: 14px; margin-left: 24px">{{number}}</span>
<br>
<br>
<span>------------------------------------ 华丽的分割线
	--------------------</span>
<br>
<br>
<br>
<br>
<form name="staff" novalidate autocomplete="off"
	style="margin-left: 24px">
	<!-- novalidate阻止表单默认的验证动作；autocomplete禁止默认填充，chrome无效 -->
	姓名：<input id="name" type="text" name="t_name" class="dfinput"
		ng-model="t_name" required> <span class="error-text"
		ng-show="staff.t_name.$error.required">员工姓名不能为空！</span><br>
	<br> 密码：<input id="pwd" type="password" name="t_password"
		class="dfinput" ng-model="pwd" ng-minlength=6 required> <span
		class="error-text" ng-show="staff.t_password.$error.minlength">
		密码长度不能小于6！</span> <span class="error-text"
		ng-show="staff.t_password.$error.required"> 密码不能为空！</span><br>
	<br> 邮箱：<input id="email" type="email" name="t_email"
		class="dfinput" ng-model="email"> <span class="error-text"
		ng-show="staff.t_email.$error.email">邮箱格式不正确！</span><br>
	<br> <input class="btn" type="submit" value="提交"
		ng-click="getStaff()">
</form>
<br>
<br>
<span>{{h_name}}<br>
<br>{{h_password}}<br>
<br>{{h_email}}
</span>
