
<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>合同信息</li>
		<li>新建合同</li>
	</ul>
</div>
<!-- 录入合同基本信息 -->
<div class="formbody">
	<!-- contract/addContract.do -->
	<form ng-submit="addContract()">
		<div class="formtitle">
			<span>基本信息</span>
		</div>

		<ul class="forminfo">
			<li><label>合同名称</label><input type="text"
				ng-model="contract.cont_name" class="dfinput" required /></li>
			<li><label>项目名称</label><input type="text"
				ng-model="contract.cont_project" class="dfinput" /></li>
			<li><label>合同类型</label> <select class="dfselect"
				ng-model="contract.cont_type" required>
					<option value="0">传统光伏项目</option>
					<option value="1">分布式</option>
					<option value="2">光热</option>
					<option value="3">其它</option>
			</select></li>
			<li><label>合同等级</label>
				<div class="radio-div">
					<input type="radio" value="1" ng-model="contract.cont_rank">一般
				</div>
				<div class="radio-div">
					<input type="radio" value="0" ng-model="contract.cont_rank">重要
				</div></li>
			<li><label>业主公司名称</label><input type="text"
				ng-model="contract.cont_client" class="dfinput" required /></li>
			<li><label>甲方联系人</label><input type="text"
				ng-model="contract.cont_cheader" class="dfinput" required /></li>
			<li><label>联系方式</label><input type="text"
				ng-model="contract.cont_ctel" class="dfinput" required /></li>
			<li><label>项目所在省市</label>
			<div class="form-inline">
					<div id="distpicker">
						<div class="form-group">
							<label class="sr-only" for="province">Province</label> <select
								class="form-control" id="province" ng-model="contract.province"></select>
						</div>
						<div class="form-group">
							<label class="sr-only" for="city">City</label> <select
								class="form-control" id="city" ng-model="contract.city"></select>
						</div>
					</div>
				</div></li>
			<!-- <li><label>部&nbsp; &nbsp; &nbsp; 门</label><input type="text"
				ng-model="contract.cont_cdept" class="dfinput" /></li> -->
			<li id="addContract"><label>&nbsp;</label><input type="submit" 
				class="btn" value="创建合同" /></li>
			<li  id="updateContract"  style="display:none"><label>&nbsp;</label><input type="button"  class="btn" value="保存修改" ng-click="updateContract()"></li>
		</ul>
	</form>
</div>
<!-- 录入合同基本信息完 -->
<!-- 上传文件 -->
<div class="formbody" ng-controller="UploadController" nv-file-drop=""
	uploader="uploader" filters="queueLimit, customFilter">
	<!-- contract/addContract.do -->
	<div class="formtitle">
		<span>上传附件</span>
	</div>

	<ul class="forminfo">
		<li><input type="file" nv-file-select="" uploader="uploader" /></li>
	</ul>
	<table class="table-upload">
		<thead>
			<tr>
				<th width="40%">文件名</th>
				<th ng-show="uploader.isHTML5">大小</th>
				<th ng-show="uploader.isHTML5">进度</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in uploader.queue">
				<td><strong>{{ item.file.name }}</strong></td>
				<td ng-show="uploader.isHTML5" nowrap>{{
					item.file.size/1024/1024|number:2 }} MB</td>
				<td ng-show="uploader.isHTML5">
					<div class="progress" style="margin-bottom: 0;">
						<div class="progress-bar" role="progressbar"
							ng-style="{ 'width': item.progress + '%' }"></div>
					</div>
				</td>
				<td class="text-center"><span ng-show="item.isSuccess"><i
						class="glyphicon glyphicon-ok"></i></span> <span ng-show="item.isCancel"><i
						class="glyphicon glyphicon-ban-circle"></i></span> <span
					ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td nowrap>

					<button type="button" class="btn-delete" ng-click="item.remove()">
						<span class="glyphicon glyphicon-trash"></span> 移除
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="div-btn">
		<button type="button" class="btn" ng-click="uploader.uploadAll()"
			ng-disabled="!uploader.getNotUploadedItems().length">全部上传</button>
		<button type="button" class="btn" ng-click="uploader.clearQueue()"
			ng-disabled="!uploader.queue.length">全部移除</button>
	</div>
</div>
<!-- 上传文件完 -->
<!-- 录入文书任务 -->
<div class="formbody float">
	<form ng-submit="addTask1()">
		<div class="formtitle">
			<span>文书任务</span>
		</div>

		<ul class="forminfo">
			<li><label>执行人</label> <select class="dfselect"
				ng-model="task1.receiver_id"  id="receiverId1">
					<option ng-repeat="user in users" value={{user.user_id}}>{{user.user_name}}</option>
			</select></li>
			<li><label>子任务</label>
				<div class="div-checkbox">
					<input type="checkbox" ng-true-value="true" ng-false-value="false"
						ng-model="task1.print" />打印印刷
				</div>
				<div class="div-checkbox">
					<input type="checkbox" ng-true-value="true" ng-false-value="false"
						ng-model="task1.sign" />签字
				</div>
				<div class="div-checkbox">
					<input type="checkbox" ng-true-value="true" ng-false-value="false"
						ng-model="task1.seal" />盖章
				</div>
				<div class="div-checkbox">
					<input type="checkbox" ng-true-value="true" ng-false-value="false"
						ng-model="task1.post" />邮寄
				</div>
				<div class="div-checkbox">
					<input type="checkbox" ng-true-value="true" ng-false-value="false"
						ng-model="task1.file" />签收
				</div>
				<div class="div-checkbox">
					<input type="checkbox" id="selectAll" ng-click="selectAllTask()" />全选
				</div></li>
			<li><label>开始时间</label><input type="text"
				ng-model="task1.task_stime" class="dfinput dateFormat" /><span
				class="error-span">日期格式：2016-09-07</span></li>
			<li><label>结束时间</label><input type="text" name="task1_etime"
				ng-model="task1.task_etime" class="dfinput dateFormat " /><span
				class="error-span">日期格式：2016-09-07</span></li>
			<li><label>备注</label> <textarea ng-model="task1.task_content"
					class="textarea"></textarea></li>
			<li><label>&nbsp;</label><input  id="disTask1" type="submit" class="btn"
				value="提交" /></li>
		</ul>
	</form>
</div>
<!-- 录入文书任务完 -->
<div class="formbody float">
	<form ng-submit="addTask2()">
		<div class="formtitle">
			<span>补录合同信息</span>
		</div>

		<ul class="forminfo">
			<li><label>执行人</label> <select class="dfselect"
				ng-model="task2.receiver_id">
					<option ng-repeat="user in users" value={{user.user_id}}>{{user.user_name}}</option>
			</select></li>
			<li><label>开始时间</label><input type="text" name="task2_stime"
				ng-model="task2.task_stime" class="dfinput dateFormat" /><span
				class="error-span">日期格式：2016-09-07</span></li>
			<li><label>结束时间</label><input type="text" name="task2_etime"
				ng-model="task2.task_etime" class="dfinput dateFormat" /><span
				class="error-span">日期格式：2016-09-07</span></li>
			<li><label>备注</label> <textarea ng-model="task2.task_content"
					class="textarea"></textarea></li>
			<li><label>&nbsp;</label><input type="submit"  id="disTask2" class="btn"
				value="提交" /></li>
		</ul>
	</form>
</div>
<script>
	$(function() {
		var $distpicker = $('#distpicker');
		$distpicker.distpicker();

	/* 	$('select').change(
				function() {
					var city = $('#province option:selected').val()
							+ $('#city option:selected').val();
					console.log(city)
				}); */
	});
</script>
