<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>任务管理</li>
		<li>合同信息管理</li>
	</ul>
</div>

<div class="formbody">

	<form ng-submit="repeatAddContract()" name="staff">
		<div class="formtitle">
			<span>合同详情</span>
		</div>
		<table class="tbl tablelist" id="contInformation">
			<tr>
				<td colspan='2' class="width15 text-center">合同名称</td>
				<td colspan='6'>{{cont.cont_name}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">合同类别</td>
				<td colspan='2'>{{cont.cont_type |conType}}</td>
				<td colspan='2' class=" text-center">合同等级</td>
				<td colspan='2'>{{cont.cont_rank | conRank}}
				<td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">合同金额（万元）<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_money" class="dfinput input_border numberFormat"
					required placeholder="格式：0.00"/>&nbsp;<span class="error-span">格式错误</span></td>
				<td colspan='2' class="width15 text-center">项目编码<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_pnum" class="dfinput input_border" required /></td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">合同编号</td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_onum" class="dfinput input_border" /></td>
				<td colspan='2' class="width15 text-center">甲方合同编号</td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_cnum" class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">项目名称</td>
				<td colspan='6'>{{cont.cont_project}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">装机容量（MW）</td>
				<td colspan='2'><input type="text"
					ng-model="contract.install_capacity" class="dfinput input_border" /></td>
				<td colspan='2' class="width15 text-center">项目所在省市</td>
				<td colspan='2'>{{cont.province}}&nbsp;&nbsp;{{cont.city}}</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">项目阶段<label
					class="left_length5 text_style">*</label></td>
				<td colspan='6'>
					<div class="div-checkbox">
						<input type="checkBox" name="proStage" ng-model="proStage0"
							ng-true-value="true" ng-false-value="false" class="proStage"
							value="0" />规划
					</div>
					<div class="div-checkbox">
						<input type="checkBox" name="proStage" ng-model="proStage1"
							ng-true-value="true" ng-false-value="false" class="proStage"
							value="1" />预可研
					</div>
					<div class="div-checkbox">
						<input type="checkBox" name="proStage" ng-model="proStage2"
							ng-true-value="true" ng-false-value="false" class="proStage"
							value="2" />可研
					</div>
					<div class="div-checkbox">
						<input type="checkBox" name="proStage" ng-model="proStage3"
							ng-true-value="true" ng-false-value="false" class="proStage"
							value="3" />项目建议书
					</div>
					<div class="div-checkbox">
						<input type="checkBox" name="proStage" ng-model="proStage4"
							ng-true-value="true" ng-false-value="false" class="proStage"
							value="4" />初步设计
					</div>
					<div class="div-checkbox">
						<input type="checkBox" name="proStage" ng-model="proStage5"
							ng-true-value="true" ng-false-value="false" class="proStage"
							value="5" />发包、招标设计
					</div>
					<div class="div-checkbox">
						<input type="checkBox" name="proStage" ng-model="proStage6"
							ng-true-value="true" ng-false-value="false" class="proStage"
							value="6" />施工详图
					</div>
					<div class="div-checkbox">
						<input type="checkBox" name="proStage" ng-model="proStage7"
							ng-true-value="true" ng-false-value="false" class="proStage"
							value="7" />竣工图
					</div>
					<div class="div-checkbox">
						<input type="checkBox" name="proStage" ng-model="proStage8"
							ng-true-value="true" ng-false-value="false" class="proStage"
							value="8" />其他
					</div>
					<div class="div-checkbox">
						<input type="checkbox" id="selectAllProStage" ng-click="selectAllProStage()" />全选
					</div>
				</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">项目状态</td>
				<td colspan='2'>{{cont.cont_state |conState}}</td>
				<td colspan='2' class="width15 text-center">合同签订时间<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'><input type="text"
					class="dfinput dateFormat input_border" placeholder="格式：2016-09-07"
					id="contCtime" name="contCtime" ng-model="contract.cont_stime"
					required /><span class="error-span little">格式错误</span></td>

			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">项目设总<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'><select class="dfselect input_border"
					ng-model="contract.manager.user_id" ng-options="user.user_id as user.user_name for user in userDepts" required >
						<option value="">请选择</option>
				</select></td>
				<td colspan='2' class="width15 text-center">是否有委托书<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'><div class="div-checkbox">
						<input name="cont_hasproxy" type="radio" name="hasproxy"
							ng-model="contract.cont_hasproxy" value="1" />有
					</div>
					<div class="div-checkbox">
						<input name="cont_hasproxy" type="radio" name="hasproxy"
							ng-model="contract.cont_hasproxy" value="0" />无
					</div></td>
			<tr>
				<td colspan='2' class="width15 text-center">项目副设总</td>
				<td colspan='2'><select class="dfselect input_border"
					ng-model="contract.assistant_manager.user_id" 	ng-options="user.user_id as user.user_name for user in userDepts">
						<option value="">请选择</option>
				</select></td>
				<td colspan='2' class="width15 text-center">是否立项<label
					class="left_length5 text_style">*</label></td>
				<td colspan='2'><div class="div-checkbox">
						<input name="cont_initiation" type="radio" name="initiation"
							ng-model="contract.cont_initiation" value="1" />是
					</div>
					<div class="div-checkbox">
						<input name="cont_initiation" type="radio" name="initiation"
							ng-model="contract.cont_initiation" value="0" />否
					</div></td>
			</tr>


			<tr>
				<td rowspan='16' colspan='1' class="text-center">业主信息</td>
				<td colspan='2' class="width15 text-center">公司全称</td>
				<td colspan='6'>{{cont.cont_client}}</td>
			</tr>

			<tr>
				<td colspan='3' class="text-center">组织机构代码证号/统一社会信用代码</td>
				<td colspan='4'><input type="text"
					ng-model="contract.cont_orgcodenum" class="dfinput input_border" /></td>
			</tr>

			<tr>
				<td colspan='2' class="text-center">企业性质<label
					class="left_length5 text_style">*</label></td>
				<td colspan='4'>
					<div class="div-checkbox">
						<input type="radio" name="companyType"
							ng-model="contract.company_type" value="0" />国有企业
					</div>
					<div class="div-checkbox">
						<input type="radio" name="companyType"
							ng-model="contract.company_type" value="1" />事业单位
					</div>
					<div class="div-checkbox">
						<input type="radio" name="companyType"
							ng-model="contract.company_type" value="2" />民营企业
					</div>
					<div class="div-checkbox">
						<input type="radio" name="companyType"
							ng-model="contract.company_type" value="3" />国外企业
					</div>
					<div class="div-checkbox">
						<input type="radio" name="companyType"
							ng-model="contract.company_type" value="4" />政府机关
					</div>
					<div class="div-checkbox">
						<input type="radio" name="companyType"
							ng-model="contract.company_type" value="5" />其他
					</div>
				</td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">通讯地址</td>
				<td colspan='6'><input type="text"
					ng-model="contract.cont_caddress" class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">业主邮编</td>
				<td colspan='1'><input type="text"
					ng-model="contract.cont_czipcode" class="dfinput input_border" /></td>
				<td colspan='2' class="width15 text-center">业主传真</td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_cfax" class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='3' class="width15 text-center">联系人1</td>

				<td colspan='4' class="width15 text-center">联系人2</td>

			</tr>
			<tr>
				<td colspan='2' class="width15 text-center ">姓名</td>
				<td colspan='1'>{{contract.cont_cheader}}</td>
				<td colspan='2' class="width15 text-center">姓名</td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_cheader2" class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">手机号</td>
				<td colspan='1'>{{contract.cont_ctel}}</td>
				<td colspan='2' class="width15 text-center">手机号</td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_ctel2" class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">固定电话</td>
				<td colspan='1'><input type="text"
					ng-model="contract.landline_tel" class="dfinput input_border" /></td>
				<td colspan='2' class="width15 text-center">固定电话</td>
				<td colspan='2'><input type="text"
					ng-model="contract.landline_tel2" class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">职务</td>
				<td colspan='1'><input type="text" ng-model="contract.post"
					class="dfinput input_border" /></td>
				<td colspan='2' class="width15 text-center">职务</td>
				<td colspan='2'><input type="text" ng-model="contract.post2"
					class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">所在部门</td>
				<td colspan='1'><input type="text"
					ng-model="contract.cont_cdept" class="dfinput input_border" /></td>
				<td colspan='2' class="width15 text-center">所在部门</td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_cdept2" class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">电子邮箱</td>
				<td colspan='1'><input type="email"
					ng-model="contract.cont_cemail" class="dfinput input_border" /></td>
				<td colspan='2' class="width15 text-center">电子邮箱</td>
				<td colspan='2'><input type="email"
					ng-model="contract.cont_cemail2" class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">公司注册地址</td>
				<td colspan='6'><input type="text"
					ng-model="contract.com_signaddress" class="dfinput input_border" /></td>

			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">纳税人类型</td>
				<td colspan='1'>
					<div class="div-checkbox">
						<input type="radio" name="contAvetaxpayer"
							ng-model="contract.cont_avetaxpayer" value="0" />一般纳税人
					</div>
					<div class="div-checkbox">
						<input type="radio" name="contAvetaxpayer"
							ng-model="contract.cont_avetaxpayer" value="1" />小规模纳税人
					</div>
				</td>

				<td colspan='2' class="width15 text-center">发票类型</td>
				<td colspan='2'><div class="div-checkbox">
						<input type="radio" name="invoiceType"
							ng-model="contract.invoice_type" value="0" />增值税专用发票
					</div>
					<div class="div-checkbox">
						<input type="radio" name="invoiceType"
							ng-model="contract.invoice_type" value=" 1" /> 增值税普通发票
					</div></td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">纳税人识别号</td>
				<td colspan='1'><input type="text"
					ng-model="contract.cont_taxidennum" class="dfinput input_border" /></td>
				<td colspan='2' class="width15 text-center">电话（固定）</td>
				<td colspan='2'><input type="text" ng-model="contract.tel"
					class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">开户行</td>
				<td colspan='1'><input type="text"
					ng-model="contract.cont_bank" class="dfinput input_border" /></td>
				<td colspan='2' class="width15 text-center">银行账号</td>
				<td colspan='2'><input type="text"
					ng-model="contract.cont_account" class="dfinput input_border" /></td>
			</tr>
			<tr>
				<td colspan='2' class="width15 text-center">其他需要说明的情况</td>
				<td colspan='6'><textarea name="" cols="" rows=""
						class="textinput text_border" ng-model="contract.cont_remark"></textarea></td>
			</tr>
		</table>
		<input type="submit" id="addContract" class="btn" value="确认提交" />

	</form>
</div>

<div class="formbody" id="prstContainer">
	<form ng-submit="addProjectStage()">
		<div class="formtitle">
			<span>工期阶段详情</span>
		</div>
		<ul class="forminfo" id="stageList">
			<li id="ps{{$index + 1}}" ng-repeat="stage in fchat.stages"
				ng-mouseover="psShowDel($index+1)" ng-mouseout="psHideDel($index+1)"><div
					class="stage_style">
					<label>阶段{{$index + 1}}</label><input type="text"
						class="dfinput long_input" id="stageContent" name="stageContent"
						ng-model="stage.prst_content" required /> <img
						class="hand small_image" src='../images/addsel.png' alt='添加'
						ng-click="fchat.incrStage($index)"><img
						class="hand small_image" src='../images/delsel.gif' alt='删除'
						ng-click="fchat.decrStage($index)" ng-show="fchat.canDescStage"><img
						class="hand small_image" src='../images/delsel.gif' alt='删除'
						ng-click="fchat.decrStage($index)" ng-show="!fchat.canDescStage">
				</div> <br>
				<div class="stage_style top_length">
					<label>预计完工时间</label><input type="text" class="dfinput dateFormat"
						placeholder="格式：2016-09-07" id="stageEtime" name="stageEtime"
						ng-model="stage.prst_etime" required /><span class="error-span">日期格式：2016-09-07</span>
				</div>
				<div class="stage_style top_length left_length">
					<label>提前提醒天数</label><input type="text" class="dfinput"
						id="stageWtime" name="stageWtime" placeholder="格式：7"
						ng-model="stage.prst_wday" required />天
				</div> <!-- <hr class="line_style" /> --></li>
		</ul>
		<input type="submit" id="addprojectStage" class="btn"
			style="margin-top: 18px" value="添加工期阶段" />

	</form>
</div>
<div class="formbody" id="renoContainer">
	<form ng-submit="addReceiveNode()">
		<div class="formtitle">
			<span>收款节点详情</span>
		</div>
		<ul class="forminfo" id="node">
			<li id="rn{{$index + 1}}" ng-repeat="node in rnchat.nodes"
				ng-mouseover="rnShowDel($index+1)" ng-mouseout="rnHideDel($index+1)"><div
					class="stage_style">
					<label>节点{{$index + 1}}</label><input type="text"
						class="dfinput middle_input" id="nodeContent" name="nodeContent"
						ng-model="node.reno_content" required />
				</div>

				<div class="stage_style left_length">
					<label>收款时间</label><input type="text" class="dfinput dateFormat"
						placeholder="格式：2016-09-07" id="nodeEtime" name="nodeEtime"
						ng-model="node.reno_time" required /><span class="error-span">日期格式：2016-09-07</span>
					<img class="hand small_image" src='../images/addsel.png' alt='添加'
						ng-click="rnchat.incrNode($index)"><img
						class="hand small_image" src='../images/delsel.gif' alt='删除'
						ng-click="rnchat.decrNode($index)" ng-show="rnchat.canDescNode"><img
						class="hand small_image" src='../images/delsel.gif' alt='删除'
						ng-click="rnchat.decrNode($index)" ng-show="!rnchat.canDescNode">
				</div> <br>
				<div class="stage_style top_length">
					<label>工期阶段</label><select class="dfselect middle_input"
						ng-model="node.projectStage"><option
							value={{stage.prst_id}} ng-repeat="stage in prst">{{stage.prst_content}}</option>
					</select>
				</div>
				<div class="stage_style top_length left_length">
					<label>实际应收金额</label><input type="text" class="dfinput width35"
						id="nodeMoney" name="nodeMoney" ng-model="node.reno_money"
						required />万元
				</div>
				<div class="stage_style top_length left_length">
					<label>提醒天数设置</label><input type="text" class="dfinput width35"
						id="nodeWday" name="nodeWday" placeholder="格式：7"
						ng-model="node.reno_wday" required />天
				</div></li>
		</ul>

		<input type="submit" id="addReceiveNode" class="btn"
			style="display: none" value="添加收款节点" />
	</form>
</div>