<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>任务管理</li>
		<li>查看合同信息</li>
	</ul>
</div>

<div class="formbody">

	<div class="formtitle">
		<span>合同详情<img src="../images/showInfo.png"
			class="hand showInfo" id="contShow" ng-click="showContInfo()"><img
			src="../images/hideInfo.png" class="hand hideE showInfo"
			id="contHide" ng-click="hideContInfo()"></span> <a class="update-btn"
			href="/CIMS/file/download.do">下载附件</a><a class="update-btn"
			href="#/contractUpdate" has-permission='cHeadEdit'>修改1</a><a
			class="update-btn" href="#/contractModify" has-permission='cBodyEdit'>修改2</a>
	</div>
	<table class="tbl tablelist" id="contInformation">
		<tr>
			<td colspan='2' class="width15 text-center">合同名称</td>
			<td colspan='6'>{{cont.cont_name}}</td>
		</tr>
		<tr>
			<td colspan='2' class="width15 text-center">合同类型</td>
			<td colspan='2' class="width35">{{cont.cont_type | conType}}</td>
			<td class="width15 text-center">合同等级</td>
			<td colspan='2' class="width35">{{cont.cont_rank | conRank}}</td>
		</tr>
		<tr>
			<td colspan='2' class="width15 text-center">项目名称</td>
			<td colspan='6'>{{cont.cont_project}}</td>
		</tr>
		<tr>
			<td colspan='2' class="width15 text-center">业主单位名称</td>
			<td colspan='6'>{{cont.cont_client}}</td>
		</tr>
		<tr>
			<td colspan='2' class="width15 text-center">业主单位地址</td>
			<td colspan='6'>{{cont.cont_caddress}}</td>
		</tr>
		<tr>
			<td colspan='2' class="width15 text-center">项目状态</td>
			<td colspan='6'>{{cont.cont_state | conState}}</td>
		</tr>
		<tr>
			<td colspan='2' class="width15 text-center">合同签订时间</td>
			<td colspan='2' class="width35">{{cont.cont_stime | dateType}}</td>
			<td class="width15 text-center">是否有委托书</td>
			<td colspan='2'>{{cont.cont_hasproxy | conHasproxy}}</td>
		</tr>
		<tr>
			<td colspan='2' class="width15 text-center ">业主传真</td>
			<td colspan='2' class="width35">{{cont.cont_cfax}}</td>
			<td class="width15 text-center">业主邮编</td>
			<td colspan='2' class="width35">{{cont.cont_czipcode}}</td>
		</tr>
		<tr>
			<td colspan='2' class="width15 text-center">业主联系人</td>
			<td colspan='2' class="width35">{{cont.cont_cheader}}</td>
			<td class="width15 text-center">业主联系方式</td>
			<td colspan='2' class="width35">{{cont.cont_ctel}}</td>
		</tr>
		<tr>
			<td colspan='2' class="width15 text-center">业主联系部门</td>
			<td colspan='2' class="width35">{{cont.cont_cdept}}</td>
			<td class="width15 text-center">业主邮箱</td>
			<td colspan='2' class="width35">{{cont.cont_cemail}}</td>
		</tr>
		<tr>
			<td colspan='2' class="width15 text-center">合同金额（万元）</td>
			<td colspan='2' class="width35">{{cont.cont_money}}</td>
			<td class="width15 text-center">项目编码</td>
			<td colspan='2' class="width35">{{cont.cont_pnum}}</td>
		</tr>
		<tr>
			<td colspan='2' class="width15 text-center">公司合同编号</td>
			<td colspan='2' class="width35">{{cont.cont_onum}}</td>
			<td class="width15 text-center">业主方合同编号</td>
			<td colspan='2' class="width35">{{cont.cont_cnum}}</td>
		</tr>
		<tr>
			<td colspan='2' class="width15 text-center">项目负责人</td>
			<td colspan='1'>{{cont.manager.user_name}}</td>
			<td colspan='1' class="width15 text-center">是否立项</td>
			<td colspan='1'>{{cont.cont_initiation | conInitiation}}</td>
			<td colspan='1' class="width15 text-center">组织机构代码证号</td>
			<td colspan='1'>{{cont.cont_orgcodenum}}</td>
		</tr>
		<tr>
			<td colspan='2' class="width15 text-center">纳税人识别号</td>
			<td colspan='2' class="width35">{{cont.cont_taxidennum}}</td>
			<td class="width15 text-center">增值税：一般纳税人</td>
			<td colspan='2'>{{cont.cont_avetaxpayer |conAvetaxpayer}}</td>
		</tr>
		<tr>
			<td colspan='2' class="width15 text-center">开户行</td>
			<td colspan='2' class="width35">{{cont.cont_bank}}</td>
			<td class="width15 text-center">银行帐号</td>
			<td colspan='2' class="width35">{{cont.cont_account}}</td>
		</tr>
		<tr>
			<td colspan='2' class="width15 text-center">其他需要说明的情况</td>
			<td colspan='6'>{{cont.cont_remark}}</td>
		</tr>
	</table>

</div>
<!-- 执行管控任务完 --> 
<div class="formbody">

	<div class="formtitle">
		<span>工期阶段详情<img src="../images/showInfo.png"
			class="hand showInfo" id="prstShow" ng-click="showPrstInfo()"><img
			src="../images/hideInfo.png" class="hand hideE showInfo"
			id="prstHide" ng-click="hidePrstInfo()"></span> <a
			class="update-btn tablelink" href="" ng-click="addOneStage()" has-permission='cPsAdd'>添加</a>
	</div>

	<table class="tbl tablelist" id="prstInformation">
		<tr>
			<td class="width10 text-center">工期阶段</td>
			<td class="width20 text-center">内 容</td>
			<td class="width10 text-center">应完工时间</td>
			<td class="width10 text-center">工期进度</td>
			<td class="width10 text-center">项目经理</td>
			<td class="width10 text-center">实完工时间</td>
			<td class="width10 text-center" has-permission='cPsEdit'>操作</td>
		</tr>
		<tr ng-repeat="stage in prst">
			<td class="width10 text-center">阶段{{$index+1}}</td>
			<td>{{stage.prst_content}}</td>
			<td>{{stage.prst_etime.time | dateType}}</td>
			<td>{{stage.prst_state |prstType}}</td>
			<td>{{stage.manager.user_name}}</td>
			<td>{{stage.prst_atime.time | dateType}}</td>
			<td has-permission='cPsEdit'><a class="tablelink" >修改</a><a class="tablelink" >删除</a></td>
		</tr>

	</table>


</div>
<div class="formbody">

	<div class="formtitle">
		<span>收款节点详情<img src="../images/showInfo.png"
			class="hand showInfo" id="renoShow" ng-click="showRenoInfo()"><img
			src="../images/hideInfo.png" class="hand hideE showInfo"
			id="renoHide" ng-click="hideRenoInfo()"></span><a
			class="update-btn tablelink" href="" ng-click="addOneNode()" has-permission='cRnAdd'>添加</a>
	</div>
	<table class="tbl tablelist" id="renoInformation">
		<tr>
			<td class="width10 text-center">收款节点</td>
			<td class="width20 text-center">内容</td>
			<td class="width10 text-center">实收金额（万元）</td>
			<td class="width10 text-center">应收金额（万元）</td>
			<td class="width10 text-center">应收款时间</td>
			<td class="width20 text-center">工期阶段内容</td>
			<!-- <td colspan='1'>实收款金额</td>
				<td colspan='1'>实收款时间</td> -->
			<td class="width10 text-center">收款情况</td>
			<td class="width10 text-center">操作</td>
		</tr>
		<tr ng-repeat="node in reno">
			<td class="width10 text-center">节点{{$index+1}}</td>
			<td>{{node.reno_content}}</td>
			<td>{{node.reno_amoney | receFloat}}</td>
			<td>{{node.reno_money | receFloat}}</td>
			<td>{{node.reno_time.time | dateType}}</td>
			<td>{{node.projectStage.prst_content}}</td>
			<td>{{node.reno_state |renoType}}</td>
			<td><a ng-click="" class="tablelink" has-permission='cRnEdit'>修改</a><a ng-click="" class="tablelink" has-permission='cRnDel'>删除</a><a
				ng-click="addReceipt()" class="tablelink" has-permission='bReceAdd'>开收据</a></td>

		</tr>

	</table>

	<input type="submit" id="addReceiveNode" class="btn"
		style="display: none" value="添加收款节点" />

</div>
<!-- 派发任务模态框 -->
<div class="overlayer"></div>
<div class="tip" id="tipAdd" style="height: 400px">
	<div class="tiptop">
		<span>添加收据</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<div class="formbody">
		<form ng-submit="addReceipt()">
			<ul class="forminfo">
				<li><label>金额</label><input type="text"
					ng-model="receipt.receMoney" class="dfinput" required />万元</li>
				<li><label>业主公司</label><input type="text"
					ng-model="receipt.receFirm" class="dfinput" required /></li>
				<li><label>收款时间</label><input type="text"
					class="dfinput dateFormat" placeholder="格式：2016-09-07"
					id="stageEtime" name="stageEtime" ng-model="receipt.receAtime"
					required /><span class="error-span">格式错误</span></li>
				<li><label>备注</label> <textarea name="" cols="" rows=""
						class="textinput area_style" ng-model="receipt.receRemark"></textarea></li>

			</ul>
			<div class="tipbtn">
				<input name="" type="submit" class="sureSend" id="sureAdd"
					value="添加" />&nbsp; <input name="" type="button" id="cancelAdd"
					class="cancelSend" value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 派发任务模态框完 -->
<!-- 添加单个工期阶段模态框 -->
<div class="overlayer"></div>
<div class="tip" id="prstAdd" style="height: 300px">
	<div class="tiptop">
		<span>添加工期阶段</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<div class="formbody">
		<form>
			<ul class="forminfo" ng-repeat="stage in fchat.stages">
				<li><label>内容</label><input type="text" class="dfinput"
					id="stageContent" name="stageContent" ng-model="stage.prst_content"
					required /></li>
				<li><label>预计完工时间</label><input type="text"
					class="dfinput dateFormat" placeholder="格式：2016-09-07"
					id="stageEtime" name="stageEtime" ng-model="stage.prst_etime"
					required /><span class="error-span">格式错误</span></li>
				<li><label>提前提醒天数</label> <input type="text" class="dfinput"
					id="stageWtime" name="stageWtime" placeholder="格式：7"
					ng-model="stage.prst_wday" required />天</li>

			</ul>
			<div class="tipbtn">
				<input name="" type="submit" class="sureSend" id="sureAddPrst"
					value="确认" />&nbsp; <input name="" type="button"
					id="cancelAddPrst" class="cancelSend" value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 添加单个工期阶段模态框完 -->
<!-- 添加单个收款节点模态框 -->
<div class="overlayer"></div>
<div class="tip" id="renoAdd" style="height: 400px">
	<div class="tiptop">
		<span>添加收款节点</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<div class="formbody">
		<form>
			<ul class="forminfo" ng-repeat="node in rnchat.nodes">
				<li><label>内容</label><input type="text"
					class="dfinput middle_input" id="nodeContent" name="nodeContent"
					ng-model="node.reno_content" required /></li>
				<li><label>收款时间</label><input type="text"
					class="dfinput dateFormat" placeholder="格式：2016-09-07"
					id="nodeEtime" name="nodeEtime" ng-model="node.reno_time" required /><span
					class="error-span">日期格式错误</span></li>
				<li><label>工期阶段</label> <select class="dfselect middle_input"
					ng-model="node.projectStage"><option
							value={{stage.prst_id}} ng-repeat="stage in prst">{{stage.prst_content}}</option>
				</select></li>
				<li><label>实际应收金额</label><input type="text"
					class="dfinput width35" id="nodeMoney" name="nodeMoney"
					ng-model="node.reno_money" placeholder="格式：0.00" required />万元</li>
				<li><label>提醒天数设置</label><input type="text"
					class="dfinput width35" id="nodeWday" name="nodeWday"
					placeholder="格式：7" ng-model="node.reno_wday" required />天</li>

			</ul>
			<div class="tipbtn">
				<input name="" type="submit" class="sureSend" id="sureAddReno"
					value="确认" />&nbsp; <input name="" type="button"
					id="cancelAddReno" class="cancelSend" value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 添加单个收款节点模态框完 -->