<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li><a href="#">任务管理</a></li>
	</ul>
</div>

<div class="rightinfo">
	<div class="tools">
		<form class="toolbar">
			<!-- <input name="" type="text" class="dfinput" id="tContent"
				placeholder="内容关键字" /> -->
			<select class="dfselect" ng-model="tState" style="width: 167px"
				id="tState">
				<option value="-1">全部</option>
				<option value="0">新任务</option>
				<option value="1">处理中</option>
				<option value="2">已完成</option>
			</select> <input class="btn" type="submit" value="查询"
				ng-click="getTaskByKeys()">
		</form>



		<ul class="toolbar1">
			<li class="click"><a ng-click="addTask()"><span><img
						src="../images/t01.png" /></span>新建</a></li>
		</ul>
	</div>
	<table class="tablelist">
		<thead>
			<tr>
				<th>序号</th>
				<th>类型</th>
				<th>状态</th>
				<th>创建者</th>
				<th>报警次数</th>
				<th has-permission='tContCollect'>补录合同</th>
				<th has-permission='tContDetail'>相关合同</th>
				<th>备注</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="t in tasks" id={{t.task_id}}>
				<td>{{$index + 1}}</td>
				<td>{{t.task_type | taskType}}</td>
				<td>{{t.task_state | taskState}}</td>
				<td>{{t.creator.user_name}}</td>
				<td>{{t.task_alarmnum}}</td>
				<td has-permission='tContCollect'><div
						ng-switch={{t.task_type}}>
						<div ng-switch-when="0"></div>
						<div ng-switch-when="1">
							<a class="tablelink"
								href="/CIMS/contract/toContractPage.do#/contractInfo"
								ng-click="getConId(t.contract.cont_id)">{{t.contract.cont_name
								|cutString}}</a>
						</div>
						<div ng-switch-when="2">
							<a class="tablelink"
								href="/CIMS/contract/toContractPage.do#/contractInfo"
								ng-click="getConId(t.contract.cont_id)">{{t.contract.cont_name
								|cutString}}</a>
						</div>

					</div></td>
				<td has-permission='tContDetail'><div ng-switch={{t.task_type}}>
						<div ng-switch-when="0"></div>
						<div ng-switch-when="1">
							<a class="tablelink"
								href="/CIMS/contract/toContractPage.do#/contractInfo"
								ng-click="getConId(t.contract.cont_id)">{{t.contract.cont_name
								|cutString}}</a>
						</div>
						<div ng-switch-when="2">
							<a class="tablelink"
								href="/CIMS/contract/toContractPage.do#/contractInfo"
								ng-click="getConId(t.contract.cont_id)">{{t.contract.cont_name
								|cutString}}</a>
						</div>

					</div></td>
				<td>{{t.task_content |cutString}}</td>
				<td><a ng-click="checkTask()" class="tablelink">查看</a><a
					ng-click="finishTask()" class="tablelink finishLabel"
					task-finish='{{t.task_state}},{{t.task_type}}'>完成</a><a
					ng-click="delTask()" class="tablelink delLabel" task-delete>删除</a></td>
			</tr>
		</tbody>
	</table>

	<div class="tcdPageCode">页码容器</div>

</div>
<!-- //删除任务模态框 -->
<div class="tip" id="tipDel" style="height: 220px">
	<div class="tiptop">
		<span>提示信息</span>
	</div>

	<div class="tipinfo">
		<div class="tipright">
			<p>是否确认对信息的删除 ？</p>
			<cite>如果是请点击确定按钮 ，否则请点取消。</cite>
		</div>
	</div>

	<div class="tipbtn">
		<input name="" type="button" class="sure" id="sureDel" value="确定" />&nbsp;
		<input name="" type="button" class="cancel" id="cancelDel" value="取消" />
	</div>
</div>
<!-- //删除任务模态框 -->
<!-- 派发任务模态框 -->
<div class="overlayer"></div>
<div class="tip" id="tipAdd" style="height: 480px">
	<div class="tiptop">
		<span>创建任务</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<div class="formbody">
		<form ng-submit="addOneTask()">
			<ul class="forminfo">
				<li><label>任务类型</label> <label value="0">普通任务</label></li>
				<li><label>接收人</label><select name="tReceiver" class="dfselect"
					ng-model="task.receiver_id" ng-options="user.user_id as user.user_name for user in users" required>
						<option value="">请选择</option>
				</select></li>
				<li><label>内容</label> <textarea name="" cols="" rows=""
						class="textinput area_style" ng-model="task.task_content" required></textarea></li>
				<li><label>开始时间</label><input type="text"
					ng-model="task.task_stime" class="dfinput dateFormat"
					placeholder="格式：2016-09-07" required /> <span class="error-span">格式错误</span></li>
				<li><label>结束时间</label><input type="text" name="task1_etime"
					ng-model="task.task_etime" class="dfinput dateFormat"
					placeholder="格式：2016-09-07" required /><span class="error-span">格式错误</span></li>
			</ul>
			<div class="tipbtn">
				<input name="" type="submit" class="sure" id="sureAdd" value="派发" />&nbsp;
				<input name="" type="button" class="cancel" id="cancelAdd"
					value="取消" />
			</div>
		</form>
	</div>
</div>
<!-- 派发任务模态框完 -->
<!-- 查看任务模态框 -->
<div class="overlayer"></div>
<div class="tip" id="tipCheck" style="height: 440px">
	<div class="tiptop text_right">
		<span>任务详情</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<div class="invorkInfo-div">
		<fieldset>
			<legend>任务信息</legend>
			<ul class="forminfo">
				<li><label>接收人：</label>{{task.receiver.user_name}}</li>
				<li><label>任务类型：</label>{{task.task_type | taskType}}</li>
				<li><label>任务状态：</label>{{task.task_state | taskState}}</li>
				<li><label>开始时间：</label>{{task.task_stime}}</li>
				<li><label>截止时间：</label>{{task.task_etime}}</li>
				<li><div class="remark-div">备注：{{task.task_content}}</div></li>
			</ul>
		</fieldset>
	</div>
</div>
<!-- 查看任务模态框完 -->
<!-- 文书任务模态框 -->
<div class="overlayer"></div>
<div class="tip1" style="height: 400px">
	<div class="tiptop">
		<span>任务内容</span><a></a>
		<!-- 这个a标签是模态框上的叉叉 -->
	</div>
	<div class="invorkInfo-div">
		<fieldset>
			<legend>任务信息</legend>
			<ul class="forminfo">
				<li><label>开始时间：</label>{{task.task_stime}}</li>
				<li><label>截止时间：</label>{{task.task_etime}}</li>
				<li><div class="remark-div">备注：{{task.task_content}}</div></li>
			</ul>
		</fieldset>
	</div>
	<!-- 文书任务具体内容 -->
	<div class="formbody">
		<form id="assistant1TaskList" ng-submit="finishTask1()">
			<ul class="forminfo">
				<li><label>子任务</label>
					<div class="div-checkbox" ng-show="taskPrint">
						<input type="checkbox" ng-true-value="true" ng-disabled="disPrint"
							ng-false-value="false" ng-model="fchat.task1.print" />打印印刷
					</div>
					<div class="div-checkbox" ng-show="taskSign">
						<input type="checkbox" ng-true-value="true" ng-disabled="disSign"
							ng-false-value="false" ng-model="fchat.task1.sign" />签字
					</div>
					<div class="div-checkbox" ng-show="taskSeal">
						<input type="checkbox" ng-true-value="true" ng-disabled="disSeal"
							ng-false-value="false" ng-model="fchat.task1.seal" />盖章
					</div>
					<div class="div-checkbox" ng-show="taskPost">
						<input type="checkbox" ng-true-value="true" ng-disabled="disPost"
							ng-false-value="false" ng-model="fchat.task1.post" />邮寄
					</div>
					<div class="div-checkbox" ng-show="taskFile">
						<input type="checkbox" ng-true-value="true" ng-disabled="disFile" ng-false-value="false" ng-model="fchat.task1.file" />签收

					</div></li>
			</ul>
			<!-- 按钮 -->
			<div class="tipbtn">
				<input name="" type="submit" class="sure" value="确定" ng-click="" />&nbsp;
				<input name="" type="button" class="cancel" value="取消" />
			</div>
		</form>

	</div>
</div>
<!-- 文书任务模态框完 -->
<!-- //完成任务模态框 -->
<div class="tip" id="tipFinish" style="height: 220px">
	<div class="tiptop">
		<span>提示信息</span>
	</div>

	<div class="tipinfo">
		<div class="tipright">
			<p>请确认工作是否已经完成？</p>
			<cite>如果是请点击确定按钮 ，否则请点取消。</cite>
		</div>
	</div>

	<div class="tipbtn">
		<input name="" type="button" class="sure" id="sureFinishTask"
			value="确定" />&nbsp; <input name="" type="button" class="cancel"
			id="cancelFinishTask" value="取消" />
	</div>
</div>
<!-- //删除任务模态框 -->

<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>

