<!-- 修改执行管控任务 -->
<div class="formbody float">
	<form ng-submit="addTask2()">
		<div class="formtitle">
			<span>执行管控任务</span>
		</div>

		<ul class="forminfo">
			<li class="hidden"><label>任务ID</label><input type="text" name="task2_stime"
				ng-model="task2.task_stime" class="dfinput dateFormat" /></li>
			<li><label>执行人</label> <select class="dfselect"
				ng-model="task2.receiver_id">
					<option ng-repeat="user in users" value={{user.user_id}}>{{user.user_name}}</option>
			</select></li>
			<li><label>开始时间</label><input type="text" name="task2_stime"
				ng-model="task2.task_stime" class="dfinput dateFormat" /><span
				class="error-span">日期格式：2016-09-07</span></li>
			<li><label>结束时间</label><input type="text" name="task2_etime"
				ng-model="task2.task_etime" class="dfinput dateFormat" /><span
				class="error-span">日期格式：2016-09-07</span></li>
			<li><label>备注</label> <textarea ng-model="task2.task_content"
					class="textarea"></textarea></li>
			<li><label>&nbsp;</label><input type="submit" class="btn"
				value="提交" /></li>
		</ul>
	</form>
</div>
<!-- 修改执行管控任务完 -->