<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>催款计划表</li>
	</ul>
</div>

<div class="rightinfo">

	<div>
		<div>
			<form action="exportPaymentPlanList.do" method="post"
				enctype="multipart/form-data">
				<ul class="projectListLimit">
					<li><label>行政区域</label>
						<div class="oneinline">
							<div id="distpicker" class="oneinline">
								<div class="oneinline">
									<label class="sr-only" for="province">Province</label> <select
										class="dfselect layoutStyle" id="province"
										ng-model="paymentLimit.province" name="province"></select>

								</div>
							</div>
						</div></li>
					<li><label>&nbsp;&nbsp;合同签订起止日期</label><input
						class="dfselect layoutStyle dateFormatForYMD" style="width: 75px"
						ng-model="paymentLimit.startDate" placeholder="2016-01-01"
						id="beginTime" name="startDate" /><label>—</label><input
						class="dfselect layoutStyle dateFormatForYMD" style="width: 75px"
						ng-model="paymentLimit.endDate" placeholder="2016-01-01"
						id="endTime" name="endDate" /><span id="errorText"
						class="error-span">格式错误</span></li>
					<li><label>&nbsp;&nbsp;计划催收款年份</label><input
						class="dfselect layoutStyle dateFormatForYear" style="width: 40px"
						ng-model="paymentLimit.planDate" placeholder="2016" id="planTime"
						name="planDate" /><span id="errorText" class="error-span">格式错误</span></li>
					<li><label>&nbsp;&nbsp;</label><input class="btn layoutStyle"
						style="width: 60px" type="button" value="查询"
						ng-click="getPaymentPlanList()"></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="submit" value="导出"></li>
				</ul>

			</form>
		</div>
		<ul style="text-align: right">
			<li><span>金额单位：万元</span></li>
		</ul>

	</div>

	<table class="tablelist">
		<thead>
			<tr>
				<th>序号</th>
				<th>行政区域</th>
				<th>工程名称</th>
				<th>业主名称</th>
				<th>合同金额</th>
				<th>累计已到款</th>
				<th>余&nbsp;&nbsp;额</th>
				<th>已开发票金额</th>
				<th>未开发票金额</th>
				<th>{{paymentLimit.planDate}}计划可催收额</th>
				<th>实际到款</th>
				<th>合同条款</th>
				<th>催款结果</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="ppf in payPlanForms">
				<td>{{$index+1}}</td>
				<td>{{ppf.province}}</td>
				<td>{{ppf.cont_project |cutString}}</td>
				<td>{{ppf.cont_client |cutString}}</td>
				<td>{{ppf.cont_money}}</td>
				<td>{{ppf.remo_totalmoney }}</td>
				<td>{{ppf.balance_money}}</td>
				<td>{{ppf.invo_totalmoney}}</td>
				<td>{{ppf.invo_not_totalmoney}}</td>
				<td>{{ppf.plan_payment}}</td>
				<td>{{ppf.actual_money}}</td>
				<td>{{ppf.con_clause}}</td>
				<td>{{ppf.result}}</td>
				<td></td>
			</tr>
		</tbody>
	</table>

	<div class="tcdPageCode">页码容器</div>
</div>
<script>
	$(function() {
		var $distpicker = $('#distpicker');
		$distpicker.distpicker();
	});
</script>
