<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>催款计划表</li>
	</ul>
</div>

<div class="rightinfo">

	<div>
		<div>
			<form action="exportPaymentPlanList.do" method="post"
				enctype="multipart/form-data">
				<ul class="projectListLimit">
					<li><label>行政区域</label>
						<div class="oneinline">
							<div id="distpicker" class="oneinline">
								<div class="oneinline">
									<label class="sr-only" for="province">Province</label> <select
										class="dfselect layoutStyle" id="province"
										ng-model="paymentLimit.province" name="province"></select>

								</div>
							</div>
						</div></li>
					<li><label>起止年月</label><input
						class="dfselect layoutStyle dateFormatForYM" style="width: 63px"
						ng-model="paymentLimit.startDate" placeholder="2016-01"
						id="beginTime" name="startDate" /><label>—</label><input
						class="dfselect layoutStyle dateFormatForYM" style="width: 63px"
						ng-model="paymentLimit.endDate" placeholder="2016-01" id="endTime"
						name="endDate" /><span id="errorText" class="error-span">格式错误</span></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="button" value="查询" ng-click="getPaymentPlanList()"></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="submit" value="导出"></li>
				</ul>

			</form>
		</div>
		<ul style="text-align: right">
			<li><span>金额单位：万元</span></li>
		</ul>

	</div>

	<table class="tablelist">
		<thead>
			<tr>
				<th>行政区域</th>
				<th>工程名称</th>
				<th>业主名称</th> <<<<<<< HEAD
				<th>合同金额</th>
				<th>累计已到款</th>
				<th>余&nbsp;&nbsp;额</th>
				<th>已开发票金额</th>
				<th>未开发票金额</th>
				<th>计划可催收额</th>
				<th>实际到款</th> =======
				<th>合同金额(万元)</th>
				<th>累计已到款</th>
				<th>余额(万元)</th>
				<th>已开发票金额(万元)</th>
				<th>未开发票金额(万元)</th>
				<th>计划可催收额</th>
				<th>实际到款(万元)</th> >>>>>>> 5c2c50ea8fb60fa69d8cd67607b3c55f3ccb7e82
				<th>合同条款</th>
				<th>催款结果</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="ppf in payPlanForms">
				<td>{{ppf.province}}</td> <<<<<<< HEAD
				<td>{{ppf.cont_project |cutString}}</td>
				<td>{{ppf.cont_client |cutString}}</td> =======
				<td>{{ppf.cont_project}}</td>
				<td>{{ppf.cont_client}}</td> >>>>>>>
				5c2c50ea8fb60fa69d8cd67607b3c55f3ccb7e82
				<td>{{ppf.cont_money}}</td>
				<td>{{ppf.remo_totalmoney}}</td>
				<td>{{ppf.balance_money}}</td>
				<td>{{ppf.invo_totalmoney}}</td>
				<td>{{ppf.noinvo_totalmoney}}</td> <<<<<<< HEAD
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>{{ppf.remark}}</td>
			</tr>

			=======
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>{{ppf.remark}}</td>
			</tr>

			>>>>>>> 5c2c50ea8fb60fa69d8cd67607b3c55f3ccb7e82
		</tbody>
	</table>

	<div class="tcdPageCode">页码容器</div>
</div>
<script>
	$(function() {
		var $distpicker = $('#distpicker');
		$distpicker.distpicker();
	});
</script>
