<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="/CIMS/login/toIndex.do">首页</a></li>
		<li>合同额到款分析表</li>
	</ul>
</div>

<div class="rightinfo">

	<div class="tools">

		<form class="toolbar">
			<input type="text" class="short dfinput" id="begin-year"
				placeholder="请输入年份" />年与 <input type="text" class="short dfinput"
				id="end-year" placeholder="请输入年份" />年自营合同额到款分析结果 <input class="btn"
				type="submit" value="查询" ng-click="getTableDate()">
		</form>

		<form action="/CIMS/reportForm/exportWord.do" method="post"
			enctype="multipart/form-data" style="float: right">
			<input id="chart1-svg" name="chart1SVGStr" class="hidden" type="text" />
			<input id="chart2-svg" name="chart2SVGStr" class="hidden" type="text" />
			<input id="chart3-svg" name="chart3SVGStr" class="hidden" type="text" />
			<input id="chart4-svg" name="chart4SVGStr" class="hidden" type="text" />
			<input class="btn" type="submit" value="导出">
		</form>
	</div>

	<table class="tablelist">
		<caption>自营合同额到款对比表</caption>
		<thead ng-show="table1Show">
			<tr>
				<th>序号</th>
				<th>对比项</th>
				<th>{{1|bYear}}年</th>
				<th>{{1|eYear}}年</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody ng-show="table1Show">
			<tr>
				<td>1</td>
				<td>合同额</td>
				<td>{{comoCompareRemo.como_one}}</td>
				<td>{{comoCompareRemo.como_two}}</td>
				<td>{{comoCompareRemo.ratio_como}}</td>
			</tr>
			<tr>
				<td>2</td>
				<td>到款额</td>
				<td>{{comoCompareRemo.remo_one}}</td>
				<td>{{comoCompareRemo.remo_two}}</td>
				<td>{{comoCompareRemo.ratio_remo}}</td>
			</tr>
			<tr>
				<td>3</td>
				<td>合同数</td>
				<td>{{comoCompareRemo.cont_num_one}}</td>
				<td>{{comoCompareRemo.cont_num_two}}</td>
				<td>{{comoCompareRemo.ratio_conum}}</td>
			</tr>
		</tbody>
	</table>
	<label class="error-label" ng-show="!table1Show">对不起，未找到相关数据</label>

	<table class="tablelist">
		<caption>{{1|bYear}}年、{{1|eYear}}年光伏自营项目新签合同额分析表</caption>
		<thead ng-show="table2Show">
			<tr>
				<th>序号</th>
				<th>省份</th>
				<th>{{1|bYear}}年新签合同额（万元）</th>
				<th>{{1|eYear}}年新签合同额（万元）</th>
				<th>{{1|bYear}}年该省合同占比</th>
				<th>{{1|eYear}}年该省合同占比</th>
				<th>{{1|eYear}}年合同增长比例</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody ng-show="table2Show">
			<tr ng-repeat="c in newComoAnalyseList">
				<td>{{$index + 1}}</td>
				<td>{{c.province}}</td>
				<td>{{c.como_one}}</td>
				<td>{{c.como_two}}</td>
				<td>{{c.ratio_one_provi}}</td>
				<td>{{c.ratio_two_provi}}</td>
				<td>{{c.rise_ratio}}</td>
				<td>{{c.remark}}</td>
			</tr>
		</tbody>
	</table>
	<label class="error-label" ng-show="!table2Show">对不起，未找到相关数据</label>

	<table class="tablelist">
		<caption>{{1|bYear}}年、{{1|eYear}}年自营项目到款及{{1|nYear}}年预计到款分析表</caption>
		<thead ng-show="table3Show">
			<tr class="report-tr">
				<th>序号</th>
				<th>省份</th>
				<th>{{1|bYear}}年到款额（万元）</th>
				<th>{{1|eYear}}年到款额（万元）</th>
				<th>{{1|eYear}}年之前项目{{1|eYear}}年到款额（万元）</th>
				<th>{{1|eYear}}年当年项目{{1|eYear}}年到款额（万元）</th>
				<th>{{1|eYear}}年当年项目{{1|nYear}}年预计到款额（万元）</th>
				<th>{{1|eYear}}年之前项目{{1|nYear}}年预计到款额（万元）</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody ng-show="table3Show">
			<tr ng-repeat="r in newRemoAnalysesList">
				<td>{{$index + 1}}</td>
				<td>{{r.province}}</td>
				<td>{{r.remo_one}}</td>
				<td>{{r.remo_two}}</td>
				<td>{{r.remo_before}}</td>
				<td>{{r.remo_curr}}</td>
				<td>{{r.exp_remo_two_curr}}</td>
				<td>{{r.exp_remo_two_before}}</td>
				<td>{{r.remark}}</td>
			</tr>
		</tbody>
	</table>
	<label class="error-label" ng-show="!table3Show">对不起，未找到相关数据</label>
	<div id="pieChart1" style="min-width: 400px; height: 400px"></div>
	<div id="pieChart2" style="min-width: 400px; height: 400px"></div>
	<div id="pieChart3" style="min-width: 400px; height: 400px"></div>
	<div id="pieChart4" style="min-width: 400px; height: 400px"></div>
</div>

